<template>
  <div>
    <div class="flex items-center benefit-content pt-154 pb-63">
      <div>
        <img src="@/assets/images/benefits/traveller.png" alt="">
        <TestimonialSlide/>
      </div>
      <div>
        <p class="gray-medium ttu fs-11 fw-900 mb-16 mt-0">expand your horizon</p>
        <h2 class="relative fs-36 fw-900 mt-16 mb-87 lh-22">Benefits of Designer Journeys</h2>
        <ul class="black pl-0 list">
          <li class="flex items-start mb-34">
            <img class="mr-33" src="@/assets/images/benefits/icon-smile.svg" alt="">
            <div>
              <h4 class="mt-0 mb-7 fs-16 fw-900 lh-22">Your style. Your stories.</h4>
              <p class="fs-14 fw400 mt-0 mb-0 lh-18">
                Sometimes, it's a lifetime experience, isn't it?<br>
                So, how can anyone choose details for you?<br>
                At Design Journeys, you decide things as you wish.</p>
            </div>
          </li>
          <li class="flex items-start mb-34">
            <img class="mr-33" src="@/assets/images/benefits/icon-conversation.svg" alt="">
            <div>
              <h4 class="mt-0 mb-7 fs-16 fw-900 lh-22">
                Talk and build with an expert.
              </h4>
              <p class="fs-14 fw400 mt-0 mb-0 lh-18">
                Our concierges who master each destination we offer all over<br>
                the world, will provide every help you may need to get the best<br>
                experience and build the most incredible travel you've ever made.
              </p>
            </div>
          </li>
          <li class="flex items-start">
            <img class="mr-33" src="@/assets/images/benefits/icon-trust.svg" alt="">
            <div>
              <h4 class="mt-0 mb-7 fs-16 fw-900 lh-22">Trustworthy at most.</h4>
              <p class="fs-14 fw400 mt-0 mb-0 lh-18">
                We not only belong to a huge group of tourism companies,<br>
                as we have so many years of experience and history.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import TestimonialSlide from './TestimonialSlide'

export default {
  name: 'Benefits',
  components: {
    TestimonialSlide
  }
}
</script>

<style scoped>
.benefit-content {
  background-image: url('../../../../assets/images/benefits/color.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

h2:before {
  content: "";
  width: 39px;
  height: 4px;
  background: #D0FDDC;
  display: inline-block;
  position: absolute;
  bottom: -38px;
}
</style>
