<template>
  <div class="relative nmt-32 bg-white sd-4 maxw-355 ma-0-auto pt-27 pr-27 pb-12 pl-30 br-14">
    <div
      class="box"
      :class="{ active : activeIndex === index }"
      v-for="(item,index) in testimonial" :key="index"
    >
      <img class="absolute ntop-27 nleft-27 br-p-50 filter-1 bd-2 bd-white w-50 h-50" :src="item.avatar" />
      <p class="mt-0 fs-14 mb-8 fw-700 lh-18">{{item.txt}}</p>
      <div class="gray-medium justify-end flex items-center fw-700 fs-12 lh-18">
        <img class="mr-9" src="@/assets/images/benefits/line.svg" alt="">
        {{item.author}}
      </div>
    </div>
    <div class="absolute bottom-20">
      <ul class="flex list pl-0 ma-0">
        <li
          v-for="(item,index) in testimonial" :key="index"
          @click="setActive(index)"
          class="mr-2 h-2 w-2 fs-0 bg-blue hand br-8"
          :class="{ 'active' : activeIndex === index}"
        >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TestimonialSlide',
    setup() {
      const testimonial = [
        {
          avatar: 'https://public.dj.whl-staging.com/static/version1631153504/frontend/TripFuser/base/en_US/images/Justine.jpg',
          txt: 'It is great having local people who are able to tailor a trip to my individual needs. I love that I can chat to my consultant to make changes. The turnaround times from my brief were excellent.',
          author: 'Justine K.'
        },
        {
          avatar: 'https://public.dj.whl-staging.com/static/version1631153504/frontend/TripFuser/base/en_US/images/Kat.jpg',
          txt: 'It is great having local people who are able to tailor a trip to my individual needs. I love that I can chat to my consultant to make changes. The turnaround times from my brief were excellent.',
          author: 'Justine K1.'
        },
        {
          avatar: 'https://public.dj.whl-staging.com/static/version1631153504/frontend/TripFuser/base/en_US/images/Kathryn.jpg',
          txt: 'It is great having local people who are able to tailor a trip to my individual needs. I love that I can chat to my consultant to make changes. The turnaround times from my brief were excellent.',
          author: 'Justine K2.'
        }
      ]
      return {
        testimonial
      }
    },
    data() {
      return {
        activeIndex: 0,
      }
    },
    computed: {
      currentTabComponent() {
        return this.activeIndex
      }
    },
    methods: {
      setActive(index) {
        this.activeIndex = index;
      },
      autoSlide() {
        setTimeout(() => {
          this.activeIndex++
          if (this.testimonial.length <= this.activeIndex) {
            this.activeIndex = 0
          }
        }, 3000)

      }
    },
    watch: {
      activeIndex() {
        this.autoSlide()
      }
    },
    mounted() {
      this.autoSlide()
    }
  }
</script>

<style scoped lang="scss">
  .box {
    display: none;
    &.active {
      display: block;
    }
  }

  ul li {
    opacity: 0.4;
    &.active {
      width: 4px;
      opacity: 1;
    }
  }
</style>
