<template>
  <teleport to="#modal">
    <div v-if="showModal">
      <div role="dialog" ref="modal" class="absolute z-9999 top-64 left-p-50 trans-x-50 w-700 bg-white all-ease">
        <div class="modal-container">
          <div class="modal-header relative">
            <div class="modal-title fs-24 fw-b"><slot name="header">Default header</slot></div>
            <button class="modal-close hand absolute top-p-50 trans-y-50 z-1 br-p-50 pa-0" @click="closeModal">X</button>
          </div>
          <div class="modal-body">
            <slot name="body">
              Default body
            </slot>
          </div>
          <div class="modal-footer clearfix">
            <slot name="footer">
              Default footer
            </slot>
          </div>
        </div>
      </div>
      <div ref="modal-mask" class="modal-mask fixed z-9998 top-0 left-0 hp-100 wp-100 overflow-y-scroll" @click="closeModal"></div>
    </div>
  </teleport>
</template>

<script>
import {ref, watch} from 'vue';

export default {
  name: 'AppModal',
  emits: ['closeModal'],
  props: {
    show: {
      type: Boolean,
      default: false,
    }
  },
  setup(props, { emit }) {
    const showModal = ref(false);
    function closeModal() {
      emit('closeModal', false)
    }

    watch(
        () => props.show,
        (show) => {
          showModal.value = show;
        }
    );

    return {
      showModal, closeModal
    }
  }
}
</script>

<style scoped lang="scss">
.modal-mask {
  background-color: rgba(0, 0, 0, 0.35);
  transition: opacity 0.3s ease;
}
.modal-header {
  .modal-close {border: none; outline: none; right: 38px}
  .modal-title {line-height: 1;}
  padding: 30px;
}
.modal-body {
  padding: 0 30px; text-align: left;
}
.modal-footer {
  padding: 16px 30px 30px;
}
.modal-enter {
  opacity: 0;
}
.open-modal{
  overflow: hidden;
}
.modal-leave-active {
  opacity: 0;
}
</style>

