<template>
  <DefaultLayout>
    <template #header_page>
      <GalleryBanner/>
    </template>
    <template #body_page>
      <MainPage>
        <div class="flex justify-between items-start wp-100">
          <div class="wp-22">
            <FilterLeft></FilterLeft>
          </div>
          <div class="wp-75 flex flex-wrap nml-10 nmr-10">
            <div class="flex wp-100 justify-between pl-10 pr-10 mb-39 items-center">
              <h3 class="fw-900 fs-22 lh-22 black mt-0 mb-0">28 Tours in Bosnia and Herzegovina</h3>
              <div class="flex">
                <div class="relative">
                  <div
                    class="gray-dark fs-12 br-14 bd-1 bd-gray-medium h-38 flex items-center pl-18 pr-18 hand"
                    @click="showDropdown=!showDropdown"
                  >
                    <img class="w-16 h-16 mr-12" src="../../assets/icons/icon-sort-by.svg" alt="">
                    <span class="mr-5 fw-700">Sort by</span>
                    <span class="fw-700 black">
                    Most popular
                    <img class="ml-15" src="../../assets/icons/icon-arrow-down-black.svg" alt="">
                  </span>
                  </div>
                  <div
                    class="absolute bg-white gray-dark pt-14 pb-14 pl-21 pr-21 br-8 wp-100 mt-16 z-4 bd-1 bd-gray-medium list"
                    v-if="showDropdown"
                    v-ClickOutside="closeDropdown"
                  >
                    <a href="" class="db" @click.prevent="sort('title')"><span class="black" >Name</span></a>
                    <a href="" class="db" @click.prevent="sort('price')"><span class="black" >Price</span></a>
                  </div>
                </div>
                <div class="ml-24 gray-dark fs-12 br-14 bd-1 bd-gray-medium h-38 flex items-center pl-20 pr-20 hand">
                  <img class="w-16 h-16 mr-12" src="../../assets/icons/icon-map-gray.svg" alt="">
                  <span class="fw-700">Show options inside map</span>
                </div>
              </div>
            </div>
            <div class="wp-33-3 pl-10 pr-10 mb-20" v-for="(item, index) in cardDataList" :key="index">
              <TripCard :cardData="item"></TripCard>
            </div>
          </div>
        </div>
      </MainPage>
    </template>
  </DefaultLayout>
</template>

<script>
import { ClickOutside } from '../../directives'
import DefaultLayout from '../../components/layout/DefaultLayout'
import MainPage from '../../components/layout/parts/MainPage'
import TripCard from '../../components/ui/TripCard'
import FilterLeft from './sections/FilterLeft'
import GalleryBanner from './sections/GalleryBanner'

export default {
  name: 'TripGallery',
  directives: {
    ClickOutside
  },
  components: {DefaultLayout, MainPage, GalleryBanner, FilterLeft, TripCard},
  setup() {
    const cardDataList = [
      {
        id: 1094,
        title: '14-Day North to South of Thailand',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/6/255x255/full-philippines-1559291730165.jpg',
        price: 7,
        flight: 'Free flights',
        deal: 'Ultra Special Last Minute Deal',
        traveller_review: {
          image: 'https://s3-cdn.designerjourneys.com/homepagecards/9/255x255/full-indonesia-1559291774613.jpg',
          // name: 'Marianne S.',
          mark: 4.5
        }
      },
      {
        id: 0,
        title: '11-Day Bangkok Tour & Iconic Beaches',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/9/255x255/full-indonesia-1559291774613.jpg',
        price: 1,
        flight: 'Free flights',
        deal: 'Ultra Special Last Minute Deal',
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          mark: 4.5
        }
      },
      {
        id: 1,
        title: '14-Day North to South of Thailand',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/6/255x255/full-philippines-1559291730165.jpg',
        price: 2,
        flight: 'Free flights',
        deal: 'Ultra Special Last Minute Deal',
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          // name: 'Marianne S.',
          mark: 4.5
        }
      },
      {
        id: 2,
        title: '11-Day Bangkok Tour & Iconic Beaches',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/9/255x255/full-indonesia-1559291774613.jpg',
        price: 3,
        flight: 'Free flights',
        deal: 'Ultra Special Last Minute Deal',
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          mark: 4.5
        }
      },
      {
        id: 3,
        title: '14-Day North to South of Thailand',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/6/255x255/full-philippines-1559291730165.jpg',
        price: 4,
        flight: 'Free flights',
        deal: 'Ultra Special Last Minute Deal',
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          // name: 'Marianne S.',
          mark: 4.5
        }
      },
      {
        id: 4,
        title: '11-Day Bangkok Tour & Iconic Beaches',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/9/255x255/full-indonesia-1559291774613.jpg',
        price: 5,
        flight: 'Free flights',
        deal: 'Ultra Special Last Minute Deal',
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          mark: 4.5
        }
      },
      {
        id: 5,
        title: '14-Day North to South of Thailand',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/6/255x255/full-philippines-1559291730165.jpg',
        price: 11,
        flight: 'Free flights',
        deal: 'Ultra Special Last Minute Deal',
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          // name: 'Marianne S.',
          mark: 4.5
        }
      },
      {
        id: 6,
        title: '11-Day Bangkok Tour & Iconic Beaches',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/9/255x255/full-indonesia-1559291774613.jpg',
        price: 79,
        flight: 'Free flights',
        deal: 'Ultra Special Last Minute Deal',
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          mark: 4.5
        }
      },
      {
        id: 7,
        title: '14-Day North to South of Thailand',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/6/255x255/full-philippines-1559291730165.jpg',
        price: 20,
        flight: 'Free flights',
        deal: 'Ultra Special Last Minute Deal',
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          // name: 'Marianne S.',
          mark: 4.5
        }
      },
      {
        id: 8,
        title: '11-Day Bangkok Tour & Iconic Beaches',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/9/255x255/full-indonesia-1559291774613.jpg',
        price: 25,
        flight: 'Free flights',
        deal: 'Ultra Special Last Minute Deal',
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          mark: 4.5
        }
      },
      {
        id: 9,
        title: '13-Day Bangkok Tour & Iconic Beaches',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/9/255x255/full-indonesia-1559291774613.jpg',
        price: 40,
        flight: 'Free flights',
        deal: 'Ultra Special Last Minute Deal',
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          mark: 4.5
        }
      }
    ]
    return { cardDataList }
  }
}
</script>

<style scoped>

</style>
