<template>
  <DefaultLayout>
    <template #header_page>
      <div class="relative">
        <div class="header-background">
          <HomeBanner/>
        </div>
      </div>
    </template>
    <template #body_page>
      <div class="bg-green">
        <MainPage>
          <div class="tc pt-13 pb-11 fs-14">
            Cancel for any reason up to 21 days prior to travel and get a full refund! Choose from over 100 trips that offer flexibility and freedom when booking.
          </div>
        </MainPage>
      </div>
      <div class="bg-blue-100">
        <MainPage>
          <div class="flex items-center justify-center w-100 pt-75 pb-75 nml-18 nmr-18">
              <div class="wp-33 flex items-center justify-center pa-0-18">
                  <p class="pr-23"><img src="../../assets/icons/step01.png" /></p>
                  <div>
                    <h5 class="fs-16 fw-900 ma-0 mb-7">Step 01</h5>
                    <p class="fs-14 ma-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mattis mi id blandit adipiscing.</p>
                  </div>
              </div>
              <div class="wp-33 flex items-center justify-center pa-0-18">
                <p class="pr-23"><img src="../../assets/icons/step02.png" /></p>
                <div>
                  <h5 class="fs-16 fw-900 ma-0 mb-7">Step 02</h5>
                  <p class="fs-14 ma-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mattis mi id blandit adipiscing.</p>
                </div>
              </div>
              <div class="wp-33 flex items-center justify-center pa-0-18">
                <p class="pr-23"><img src="../../assets/icons/step03.png" /></p>
                <div>
                  <h5 class="fs-16 fw-900 ma-0 mb-7">Step 03</h5>
                  <p class="fs-14 ma-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, mattis mi id blandit adipiscing.</p>
                </div>
              </div>
          </div>
        </MainPage>
      </div>
      <MainPage>
        <SectionHeading1>
          <template #title>Free Cancellation Trips*</template>
          <template #sub-title>
            Choose from over 100 trips with a money-back guarantee up to 21 days prior to travel.
            <div class="fs-14 italic fw-400 gray-medium mt-7">*Terms and conditions apply.</div>
          </template>
        </SectionHeading1>
        <div class="wp-100 flex flex-wrap justify-between">
          <div class="wp-25 pl-15 pr-15" v-for="(item, index) in cardData" :key="index">
            <TripCard :cardData="item"></TripCard>
          </div>
        </div>
        <div class="justify-center flex mt-48">
          <router-link to="/" class="btn-round gray-dark-outline"><img src="~@/assets/icons/case.png" />View all trips</router-link>
        </div>
        <SectionHeading1>
          <template #title>Trending Destinations</template>
          <template #sub-title>
            Discover which destinations everyone's interested in to<br>
            help you to decide your next unforgettable trip.
          </template>
        </SectionHeading1>
        <TrendingDestination/>
        <Benefits/>
      </MainPage>
    </template>
  </DefaultLayout>
</template>

<script>
import DefaultLayout from '../../components/layout/DefaultLayout'
import MainPage from '../../components/layout/parts/MainPage'
import SectionHeading1 from './sections/SectionHeading1'
import TripCard from '../../components/ui/TripCard'
import HomeBanner from './sections/HomeBanner'
import Benefits from './sections/benefits/Benefits'
import TrendingDestination from './sections/TrendingDestination'

export default {
  name: 'Home',
  components: {DefaultLayout, MainPage, HomeBanner, SectionHeading1, TripCard, Benefits, TrendingDestination},
  setup() {
    const cardData = [
      {
        id: 1094,
        title: '14-Day North to South of Thailand',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/6/255x255/full-philippines-1559291730165.jpg',
        price: 250,
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          // name: 'Marianne S.',
          mark: 4.5
        }
      },
      {
        id: 2,
        title: '11-Day Bangkok Tour & Iconic Beaches',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/9/255x255/full-indonesia-1559291774613.jpg',
        price: 250,
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          mark: 4.5
        }
      },
      {
        id: 1,
        title: '14-Day North to South of Thailand',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/6/255x255/full-philippines-1559291730165.jpg',
        price: 250,
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          // name: 'Marianne S.',
          mark: 4.5
        }
      },
      {
        id: 2,
        title: '11-Day Bangkok Tour & Iconic Beaches',
        feature_img: 'https://s3-cdn.designerjourneys.com/homepagecards/9/255x255/full-indonesia-1559291774613.jpg',
        price: 250,
        traveller_review: {
          image: 'https://static-cdn.designerjourneys.com/static/version1631686729/frontend/TripFuser/base/en_US/images/Justine.jpg',
          mark: 4.5
        }
      }
    ]

    return {
      cardData
    }
  }
}
</script>

<style lang="scss" scoped>
  @import './styles.scss';
</style>
