.header-background {
  //background-image: url('https://s3-cdn.designerjourneys.com/media/banner/designer-journeys-home-banner.jpg');
  background-image: url('../../assets/images/bg-banner-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 616px;
}
