<template>
  <div ref="defaultLayoutRef">
    <header>
      <default-header :isHomePage="isHomePage" :isScroll="isScroll">
        <template #top_right>
          <MainMenu :isHomePage="isHomePage" :isScroll="isScroll" />
        </template>
        <slot name="header_page"></slot>
      </default-header>
    </header>
    <main>
      <slot name="body_page"></slot>
    </main>
    <DefaultFooter/>
  </div>
</template>

<script>
import DefaultHeader from './parts/DefaultHeader'
import DefaultFooter from './parts/DefaultFooter'
import MainMenu from './parts/MainMenu'
import { defineComponent, ref, watch, onBeforeUnmount, onMounted } from 'vue'
import { useRoute } from 'vue-router'

export default defineComponent({
  name: 'DefaultLayout',
  components: {
    MainMenu,
    DefaultFooter,
    DefaultHeader
  },
  setup: () => {
    // data
    const isHomePage = ref('')
    const isScroll = ref(false)
    // ref dom
    const defaultLayoutRef = ref(null)
    // get router
    const route = useRoute()
    isHomePage.value = route.name === 'home'
    // methods
    const handleScroll = () => {
      isScroll.value = defaultLayoutRef.value.getBoundingClientRect().top < -80 ? true : false
    }
    onBeforeUnmount(() => {
      window.removeEventListener('scroll', handleScroll)
    })
    onMounted(() => {
      window.addEventListener('scroll', handleScroll)
    })
    // watchs
    watch(
      () => route.name,
      routeName => {
        isHomePage.value = routeName === 'home'
      }
    )
    return { isHomePage, defaultLayoutRef, isScroll }
  }
})
</script>
