<template>
  <header>
    <DefaultHeader>
      <template #top_right>
        <StepB2C></StepB2C>
      </template>
      <slot name="header_page"></slot>
    </DefaultHeader>
  </header>
  <main>
    <MainPage>
      <slot name="body_page"></slot>
    </MainPage>
  </main>
</template>

<script>
import StepB2C from '../traveller/StepB2C';
import DefaultHeader from './parts/DefaultHeader';
import MainPage from './parts/MainPage';
export default {
  name: 'EnquiryB2CLayout',
  components: {MainPage, DefaultHeader, StepB2C}
}
</script>

<style scoped>

</style>
