<template>
  <header>
    <DefaultHeader :isB2B="true"></DefaultHeader>
  </header>
  <main>
    <slot name="body_page"></slot>
  </main>
</template>

<script>
import DefaultHeader from './parts/DefaultHeader';

export default {
  name: 'EnquiryB2BLayout',
  components: {DefaultHeader}
}
</script>

<style scoped>

</style>
