<template>
  <SearchBox title="Find your perfect trip">
        <div class="flex">
          <SearchSelectOption placeholder="Destionation" picture-src="icon-case.svg"/>
          <SearchSelectOption placeholder="Duration" picture-src="icon-calendar.svg"/>
          <SearchSelectOption placeholder="Activity" picture-src="icon-balloon.svg"/>
          <button class="bg-green w-63 h-63 br-20 ml-10 bd-n flex items-center justify-center hand" >
            <img src="../../../assets/icons/icon-search-bold.svg" alt="">
          </button>
        </div>
  </SearchBox>
</template>

<script>
import SearchBox from './SearchBox'
import SearchSelectOption from './SearchSelectOption'

export default {
  name: 'SearchFormHome',
  components: {SearchSelectOption, SearchBox}
}
</script>
