<template>
  <div class="relative ml-10 mr-10" @click="showDropdown=!showDropdown">
    <div class="bd-1 bd-gray-lighter br-20 h-63 pa-20 flex items-center hand">
      <img :src="resolveImgUrl(pictureSrc)" class="mr-16" />
      <input
          type="text"
          class="gray-dark bd-n w-112 fw-700 fs-14 outline-0 hand"
          :placeholder = "placeholder"
      >
      <img src="../../../assets/icons/icon-arrow-down-black.svg" alt="">
    </div>
    <div
        class="absolute bg-white gray-dark pt-14 pb-14 pl-21 pr-21 br-8 wp-100 mt-16"
        v-if="showDropdown"
        v-ClickOutside="closeDropdown"
    >
      <a class="db tl gray-dark" href=""><span class="black">Destination1</span></a>
      <a class="db tl gray-dark" href=""><span class="black">Destination1</span></a>
      <a class="db tl gray-dark" href=""><span class="black">Destination1</span></a>
    </div>
  </div>
</template>

<script>
import { ClickOutside } from '@/directives'

export default {
  name: 'SearchSelectOption',
  directives: {
    ClickOutside
  },
  data () {
    return {
      showDropdown: false
    }
  },
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    pictureSrc: {
      type: String,
      default: ''
    }
  },
  methods: {
    closeDropdown() {
      this.showDropdown = false
    },
    resolveImgUrl: function (path) {
      let images = require.context('../../../assets/icons', false, /\.png$|\.svg$/)

      return images('./' + path)
    }
  }
}
</script>
