<template>
  <div class="ma-0-auto">
    <div class="flex justify-center items-center bg-white pt-14 pr-44 pb-13 pl-44 br-16 sd-1">
      <h2 class="black fs-20 mr-35 white-space fw-900 mt-0 mb-0">{{title}}</h2>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchBox',
  props: {
    title: {
      type: String,
      default: ''
    }
  },
};
</script>
