<template>
  <button
    :class="btnClasses"
  >
    <div :class="btnWrapperClasses">
      <svg
        v-if="type === 'currency'"
        width="18"
        height="18"
        viewBox="0 0 20 20"
        :fill="[isHomePage & !isScroll ? '#FFFFFF' : '#000000']"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.45902 7.94112C8.45902 7.34702 8.91602 6.97489 9.53624 6.90307V8.99876C9.47096 8.9857 9.4122 8.96612 9.35344 8.94653C8.75934 8.75067 8.45902 8.41119 8.45902 7.94112ZM11.7233 12.015C11.7233 12.6548 11.2337 13.0792 10.5417 13.1379V10.8855C10.5874 10.8986 10.6331 10.9116 10.6722 10.9182C11.4034 11.1206 11.7233 11.4796 11.7233 12.015ZM10.5547 15.3772L10.5482 14.5481C12.337 14.3783 13.473 13.3925 13.473 11.8387C13.473 10.2588 12.4088 9.59287 11.0966 9.31214L10.5417 9.19462V6.91613C11.2337 7.02712 11.6189 7.54941 11.6385 8.0717H13.3098C13.2837 6.71374 12.2195 5.68222 10.5678 5.50595V4.65723H9.51013V5.49942C7.9302 5.64305 6.68976 6.51136 6.68976 8.07823C6.68976 9.56022 7.76046 10.3175 8.97478 10.5852L9.53624 10.7093V13.1379C8.70058 13.0269 8.26316 12.5242 8.23052 11.9236H6.52002C6.53308 13.1314 7.34263 14.4045 9.5036 14.5611L9.49707 15.3772H10.5547Z"
        />
      </svg>
      <svg
        class="user-icon"
        v-else-if="type === 'user'"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        :fill="[type === 'user' && (!isHomePage || (isScroll && isHomePage)) ? '#949494' : '#FFFFFF']"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8 10.1818C6.37154 10.1818 5.09091 9.03809 5.09091 6.54545C5.09091 4.91328 6.23935 3.63636 8 3.63636C9.75578 3.63636 10.9091 5.03387 10.9091 6.69091C10.9091 9.07608 9.61315 10.1818 8 10.1818ZM6.54545 6.54545C6.54545 8.19582 7.14052 8.72727 8 8.72727C8.85651 8.72727 9.45455 8.21701 9.45455 6.69091C9.45455 5.78212 8.88411 5.09091 8 5.09091C7.07908 5.09091 6.54545 5.68424 6.54545 6.54545Z"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 12.4183 12.4183 16 8 16ZM13.3815 11.727C14.1154 10.6693 14.5455 9.38489 14.5455 8C14.5455 4.38505 11.615 1.45455 8 1.45455C4.38505 1.45455 1.45455 4.38505 1.45455 8C1.45455 9.38489 1.88464 10.6693 2.61855 11.727C3.43706 10.6459 5.36044 10.1818 8 10.1818C10.6396 10.1818 12.5629 10.6459 13.3815 11.727ZM12.338 12.9016C12.1251 12.1363 10.5959 11.6364 8 11.6364C5.40409 11.6364 3.87491 12.1363 3.66205 12.9016C4.81695 13.9245 6.33596 14.5455 8 14.5455C9.66404 14.5455 11.1831 13.9245 12.338 12.9016Z"
        />
      </svg>
    </div>
    <svg
      width="8"
      height="5"
      viewBox="0 0 8 5"
      :fill="isHomePage & !isScroll ? '#FFFFFF' : '#000000'"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7.35032 0L8 0.57401L4 4.10811L0 0.57401L0.649682 0L4 2.96009L7.35032 0Z"
      />
    </svg>
  </button>
</template>
<script>
export default {
  name: 'DropdownButton',
  props: {
    type: {
      type: String,
      default: ''
    },
    currency: {
      type: String,
      default: ''
    },
    isHomePage: {
      type: Boolean,
      default: false
    },
    isScroll: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    btnClasses() {
      return [
        'black bd-1 bd-gray-lighter hand br-50 flex items-center bg-transparent',
        { 'white bd-white': this.isHomePage && !this.isScroll },
        this.type === 'user' ? 'pt-2 pr-16 pb-2 pl-3' : 'pt-9 pr-12 pb-9 pl-10'
      ]
    },
    btnWrapperClasses() {
      return [
        'flex justify-center items-center br-p-50 bg-transparent',
        [this.isHomePage && !this.isScroll ? 'bd-white' : 'is-not-home' ],
        this.type === 'user' ? 'is-user bd-2 bd-white w-30 h-30 relative mr-10' : 'w-18 h-18 bd-1 mr-8',
        { 'bd-black': this.type !== 'user' && (!this.isHomePage || (this.isHomePage && this.isScroll)) },
        { 'bg-linear-gradient': this.type === 'user' && (!this.isHomePage || (this.isHomePage && this.isScroll)) }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
.bg-linear-gradient {
  background: linear-gradient(0deg, #eeeeee, #eeeeee);
}
.is-user {
   &::after {
    position: absolute;
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $green;
    top: 0px;
    right: -1px;
  }
}
.is-user.is-not-home {
  &::after {
    border: 2px solid $white;
    top: -3px;
    right: -4px;
  }
}
</style>
