<template>
  <div class="relative">
    <DropdownButton
      type="user"
      :isHomePage="isHomePage"
      :isScroll="isScroll"
      @click="showDropdown=!showDropdown"
    />
    <div
      v-if="showDropdown"
      v-ClickOutside="closeDropdown"
      class="dropdown mt-7 absolute bg-white black pt-14 pb-14 pl-21 pr-21 br-8 fs-12 sd-2 right-0"
    >
      <router-link class="flex items-center gray-dark fw-700" to="#">
        <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.81818 9V8.11111C7.81818 7.63962 7.62662 7.18743 7.28565 6.85403C6.94467 6.52063 6.48221 6.33333 6 6.33333H2.81818C2.33597 6.33333 1.87351 6.52063 1.53253 6.85403C1.19156 7.18743 1 7.63962 1 8.11111V9M9.63636 3.22222V5.88889M11 4.55556H8.27273M6.22727 2.77778C6.22727 3.75962 5.41325 4.55556 4.40909 4.55556C3.40494 4.55556 2.59091 3.75962 2.59091 2.77778C2.59091 1.79594 3.40494 1 4.40909 1C5.41325 1 6.22727 1.79594 6.22727 2.77778Z" stroke="#5C5C5C" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="ml-9">Register</span>
      </router-link>
      <router-link class="flex items-center mt-16 gray-dark fw-700" to="#">
        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.54846 1L8.64539 1.94612M8.64539 1.94612L10 3.3653L8.41962 5.02101L7.06501 3.60183M8.64539 1.94612L7.06501 3.60183M5.20919 5.54611C5.44234 5.78712 5.62768 6.07406 5.75454 6.39042C5.8814 6.70678 5.94727 7.04631 5.94837 7.38945C5.94947 7.73259 5.88576 8.07257 5.76093 8.38982C5.6361 8.70706 5.4526 8.9953 5.221 9.23794C4.9894 9.48058 4.71427 9.67283 4.41146 9.80361C4.10865 9.9344 3.78414 10.0011 3.45661 9.99999C3.12908 9.99884 2.805 9.92982 2.50303 9.79691C2.20107 9.66401 1.92718 9.46983 1.69713 9.22557C1.24475 8.73486 0.994436 8.07763 1.00009 7.39544C1.00575 6.71325 1.26693 6.06068 1.72739 5.57828C2.18784 5.09588 2.81072 4.82224 3.46187 4.81632C4.11303 4.81039 4.74035 5.07264 5.20874 5.54658L5.20919 5.54611ZM5.20919 5.54611L7.06501 3.60183" stroke="#5C5C5C" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="ml-9">Login</span>
      </router-link>
      <router-link class="flex items-center mt-16 gray-dark" to="#">
        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.1905 4.15C4.2963 3.84925 4.50512 3.59565 4.77998 3.43411C5.05484 3.27257 5.378 3.21352 5.69223 3.26742C6.00646 3.32132 6.29147 3.48469 6.49678 3.72859C6.7021 3.97249 6.81447 4.28118 6.814 4.6C6.814 5.5 5.464 5.95 5.464 5.95M5.5 7.75H5.5045M10 5.5C10 7.98528 7.98528 10 5.5 10C3.01472 10 1 7.98528 1 5.5C1 3.01472 3.01472 1 5.5 1C7.98528 1 10 3.01472 10 5.5Z" stroke="#5C5C5C" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="ml-9">Help</span>
      </router-link>
      <router-link class="flex items-center mt-16 gray-dark" to="#">
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.66667 9H1.88889C1.65314 9 1.42705 8.90635 1.26035 8.73965C1.09365 8.57295 1 8.34686 1 8.11111V1.88889C1 1.65314 1.09365 1.42705 1.26035 1.26035C1.42705 1.09365 1.65314 1 1.88889 1H3.66667M6.77778 7.22222L9 5M9 5L6.77778 2.77778M9 5H3.66667" stroke="#5C5C5C" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="ml-9">Logout</span>
      </router-link>
    </div>
  </div>
</template>

<script>
import DropdownButton from './DropdownButton.vue'
import { ClickOutside } from '@/directives'

export default {
  name: 'DropdownUser',
  components: { DropdownButton },
  directives: { ClickOutside },
  props: {
    isHomePage: {
      type: Boolean
    },
    isScroll: {
      type: Boolean
    }
  },
  data () {
    return {
      showDropdown: false
    }
  },
  computed: {},
  methods: {
    openDropdown() {
      this.showDropdown = true
    },
    closeDropdown() {
      this.showDropdown = false
    }
  }
}
</script>

<style lang="scss" scoped>
.dropdown {
  min-width: 138px;
  a {
    color: $gray-dark;
  }
}
</style>
