<template>
  <div class="relative">
    <DropdownButton
      type="currency"
      :isHomePage="isHomePage"
      :isScroll="isScroll"
      @click="openDropdown"
    />
    <div
      v-if="showDropdown"
      v-ClickOutside="closeDropdown"
      class="dropdown absolute bg-white black pt-14 pb-14 pl-21 pr-21 br-8 fs-12 mt-7 sd-2"
    >
      Dropdown Currency
    </div>
  </div>
</template>

<script>
import DropdownButton from './DropdownButton.vue'
import { ClickOutside } from '@/directives'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'DropdownCurrency',
  directives: {
    ClickOutside
  },
  components: { DropdownButton },
  props: {
    isHomePage: {
      type: Boolean
    },
    isScroll: {
      type: Boolean
    }
  },
  data () {
    return {
      showDropdown: false
    }
  },
  computed: {},
  methods: {
    openDropdown() {
      this.showDropdown = true
    },
    closeDropdown() {
      this.showDropdown = false
    }
  }
})
</script>

<style lang="scss" scoped>
.dropdown {
  min-width: 138px;
}
</style>
