<template>
  <div :class="menuClasses">
    <div class="flex items-center mr-54">
      <span
        v-for="(menu, index) in menus"
        :key="index"
        :class="[
          'hp-100 fw-700 mr-24 black',
          { 'relative active': menu.name === $route.name }
        ]"
      >
        <router-link :to="menu.path">
          {{ menu.title }}
        </router-link>
      </span>
    </div>
    <div class="mr-24">
      <DropdownCurrency :isHomePage="isHomePage" :isScroll="isScroll" />
    </div>
    <button :class="['btn mr-24', newTripClasses]">
      Design New Trip
    </button>
    <button :class="['btn mr-24', agentCornerClasses]">
      Agent Corner
    </button>
    <div class="mr-24">
      <DropdownUser :isHomePage="isHomePage" :isScroll="isScroll" />
    </div>
  </div>
</template>

<script>
import { computed, defineComponent } from 'vue'
import DropdownCurrency from './DropdownCurrency.vue'
import DropdownUser from './DropdownUser.vue'

export default defineComponent({
  name: 'MainMenu',
  components: { DropdownCurrency, DropdownUser },
  props: {
    isHomePage: {
      type: Boolean,
      default: false
    },
    isScroll: {
      type: Boolean,
      default: false
    }
  },
  setup: props => {
    const menus = [
      {
        name: '',
        title: 'How it works',
        path: '/#'
      },
      {
        name: 'trip-gallery',
        title: 'Destinations',
        path: '/trip-gallery'
      },
      {
        name: 'explore',
        title: 'Explore',
        path: '/#'
      },
      {
        name: '',
        title: 'About Us',
        path: '/#'
      }
    ]
    const newTripClasses = computed(() => {
      return [(props.isHomePage && !props.isScroll) ? 'btn-white-gray' : 'btn-blue']
    })
    const agentCornerClasses = computed(() => {
      return [(props.isHomePage && !props.isScroll) ? 'btn-blue' : 'btn-white-gray']
    })
    const menuClasses = computed(() => {
      return ['flex items-center', { 'text-white': props.isHomePage && !props.isScroll }]
    })

    return { menus, menuClasses, newTripClasses, agentCornerClasses }
  }
})
</script>

<style lang="scss" scoped>
.black {
  a {
    color: black;
  }
}
.active {
  &::after {
    width: 100%;
    height: 4px;
    content: '';
    background-color: $green;
    top: -28px;
    display: block;
    position: absolute;
  }
}
.text-white {
  a {
    color: #ffffff;
  }
}
</style>
