<template>
  <MainPage>
    <h1>UI Elements</h1>
    <hr/>
    <h2>&starf; Colors</h2>
    <!--    <div class="flex flex-wrap">-->
    <!--      <div style="width: 12.5%; margin-bottom: 20px" v-for="(item, index) in bgColors" :key="index">-->
    <!--        <div style="width: 120px; height: 120px;" :class="`bg-${item.name}`"><small>{{item.value}}</small></div>-->
    <!--        {{item.name}}-->
    <!--      </div>-->
    <!--    </div>-->
    <h3>Text color</h3>
    <div class="flex">
      <div class="flex-auto" v-for="(item, index) in colors" :key="index">
        <b :class="item">{{item}}</b>
        <div>.{{item}}</div>
      </div>
    </div>
    <h3>Background color</h3>
    <div class="flex flex-wrap">
      <div style="width: 16.6%; margin-bottom: 20px" v-for="(item, index) in bgColors" :key="index">
        <div style="width: 60px; height: 60px;" :class="`bg-${item.name}`"></div>
        .bg-{{item.name}}
      </div>
    </div>
    <hr/>
    <h2>&starf; Button</h2>
    <h3>Button color</h3>
    <div class="flex" style="margin-bottom: 20px">
      <div v-for="(item, index) in btnColors" :key="index" class="flex-auto">
        <button class="btn" :class="item">Button label</button>
        <div>.btn .{{item}}</div>
      </div>
    </div>
    <div class="flex mb-20">
      <div v-for="(item, index) in btnColorsOutline" :key="index" class="flex-auto">
        <button class="btn" :class="item">Button label</button>
        <div>.btn .{{item}}</div>
      </div>
    </div>
    <div class="flex mb-20">
      <div v-for="(item, index) in btnColorsRoundOutline" :key="index" class="flex-auto">
        <button class="btn-round" :class="item">Button label</button>
        <div>.btn-round .{{item}}</div>
      </div>
    </div>
    <h2>&starf; Modal</h2>
    <button class="btn btn-black" @click="showModal = !showModal">Open Modal </button>
    <AppModal :show="showModal" @closeModal="closeModal"></AppModal>
  </MainPage>
</template>

<script>
  import MainPage from '../components/layout/parts/MainPage'
  import AppModal from '../components/ui/modal/AppModal'
  import {ref} from 'vue'

  export default {
    name: 'UIElements',
    components: {AppModal, MainPage},
    data() {
      return {
        colors: ['black', 'gray-dark', 'gray-medium', 'red', 'yellow'],
        bgColors: [
          {name: 'gray-dark', value: '5C5C5C'},
          {name: 'gray-medium', value: 'D0D0D0'},
          {name: 'gray-light', value: 'rgba(208, 208, 208, .15)'},
          {name: 'green', value: 'rgba(208, 253, 220, 1)'},
          {name: 'green-400', value: 'rgba(208, 253, 220, .4)'},
          {name: 'green-200', value: 'rgba(208, 253, 220, .2)'},
          {name: 'blue', value: 'rgba(164, 203, 250, 1)'},
          {name: 'blue-800', value: 'rgba(164, 203, 250, .8)'},
          {name: 'blue-100', value: 'rgba(164, 203, 250, .1)'}
        ],
        btnColors: ['btn-black', 'btn-gray-dark', 'btn-green', 'btn-blue', 'btn-white'],
        btnColorsOutline: ['blue-outline'],
        btnColorsRoundOutline: ['gray-dark-outline']
      }
    },
    setup() {
      const showModal = ref(false);

      function closeModal(data) {
        showModal.value = data
      }

      return {
        showModal, closeModal
      };
    }
  }
</script>

<style scoped>

</style>
