<template>
  <div class="flex items-center mb-16">
    <h3 class="fs-18 fw-900 mt-0 mb-0 mr-13">Filter results</h3>
    <p class="fs-11 fw-700 mt-0 mb-0 red">Clear Filters</p>
  </div>
  <div class="mb-30">
    <h4 class="fs-11 fw-900 ttu gray-dark ma-0 mb-13">destinations</h4>
    <input id="myInput" type="text" class="form-control icon-search">
    <div class="auto-search-items">
      <div class="items-child fs-14 gray-dark">
        <p>abc</p>
        <p>abc</p>
        <p>abc</p>
        <p>abc</p>
        <p>abc</p>
        <p>abc</p>
        <p>abc</p>
        <p>abc</p>
      </div>
      <div class="border-search">
        <img src="@/assets/images/google.png" alt="google">
      </div>
    </div>
  </div>
  <div class="mb-30">
      <h4 class="fs-11 fw-900 ttu gray-dark ma-0 mb-13">trip duration</h4>
      <div class="selectBox">
        <select class="form-control gray-dark">
          <option>Select an option</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div class="checkboxes">
        <div class="custom-control custom-checkbox mb-24">
          <input type="checkbox" class="custom-control-input hand"/>
          <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">Up to 1 week</span></label>
        </div>
        <div class="custom-control custom-checkbox mb-24">
          <input type="checkbox" class="custom-control-input hand"/>
          <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">From 1 week to 2 weeks</span></label>
        </div>
        <div class="custom-control custom-checkbox mb-24">
          <input type="checkbox" class="custom-control-input hand"/>
          <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">Up to 1 month</span></label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input hand"/>
          <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">Not sure yet</span></label>
        </div>
      </div>
  </div>
  <div class="mb-30">
    <h4 class="fs-11 fw-900 ttu gray-dark ma-0 mb-13">activities</h4>
    <div class="selectBox">
      <select class="form-control">
        <option>3 selected</option>
      </select>
      <div class="overSelect"></div>
    </div>
    <div class="checkboxes">
      <div class="custom-control custom-checkbox mb-24">
        <input type="checkbox" class="custom-control-input hand" checked />
        <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">Adventure</span></label>
      </div>
      <div class="custom-control custom-checkbox mb-24">
        <input type="checkbox" class="custom-control-input hand" checked />
        <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">Hiking</span></label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input hand" checked />
        <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">Cruising</span></label>
      </div>
      <div class="bd-b-1 bd-gray-dark mt-16 mb-16 o-50"></div>
      <div class="custom-control custom-checkbox mb-24">
        <input type="checkbox" class="custom-control-input hand" />
        <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">Food and Drink</span></label>
        <label class="fr br-12 bd-1 bd-blue-branding pa-0-10"><span class="fs-12 fw-700">28</span></label>
      </div>
      <div class="custom-control custom-checkbox mb-24">
        <input type="checkbox" class="custom-control-input hand"/>
        <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">Sightseeing</span></label>
        <label class="fr br-12 bd-1 bd-blue-branding pa-0-10"><span class="fs-12 fw-700">16</span></label>
      </div>
      <div class="custom-control custom-checkbox mb-24">
        <input type="checkbox" class="custom-control-input hand"/>
        <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">Diving</span></label>
      </div>
      <div class="custom-control custom-checkbox mb-24">
        <input type="checkbox" class="custom-control-input hand"/>
        <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">Golfing</span></label>
      </div>
      <div class="custom-control custom-checkbox mb-16">
        <input type="checkbox" class="custom-control-input hand"/>
        <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">Wellness</span></label>
      </div>
      <div class="bd-b-1 bd-gray-dark o-10 mb-11"></div>
      <div class="flex justify-between">
        <p class="ma-0 fs-11 fw-700 red">Clear</p>
        <p class="ma-0 fs-11 fw-700 gray-dark">show More options</p>
      </div>
    </div>
  </div>
  <div class="mb-30">
    <h4 class="fs-11 fw-900 ttu gray-dark ma-0 mb-13">Local Supplier</h4>
    <div class="selectBox">
      <select class="form-control">
        <option>Phillipe Said (4.8)</option>
      </select>
      <div class="overSelect"></div>
    </div>
    <div class="checkboxes">
      <div class="custom-control custom-checkbox mb-24" v-for="item in dataLocalSupplier" :key="item.id">
        <input type="checkbox" class="custom-control-input hand" :checked="item.isChecked"/>
        <label class="custom-control-label hand"><span class="dib v-mid fs-14 gray-dark">{{item.name}}</span></label>
        <label class="fr db"><span class="yellow fs-16 mr-6">&starf;</span><span class="fs-14">{{item.mark}}</span></label>
      </div>
      <div class="bd-b-1 bd-gray-dark o-10 mb-11"></div>
      <div class="flex justify-between">
        <p class="ma-0 fs-11 fw-700 red">Clear</p>
        <p class="ma-0 fs-11 fw-700 gray-dark">show More options</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FilterLeft',
    setup(){
       let expanded = false;
       const showCheckboxes = () => {
         let checkboxes = document.getElementById('checkboxes');
         if (!expanded) {
           checkboxes.style.display = "block";
           expanded = true;
         } else {
           checkboxes.style.display = "none";
           expanded = false;
         }
       }

       const dataLocalSupplier = [
         {
            id: 1,
            name: 'Phillipe Said',
            mark: 4.8,
            isChecked: true
         },
         {
           id: 2,
           name: 'Andrew Scott',
           mark: 4.8,
           isChecked: false
         },
         {
           id: 3,
           name: 'Ana Torres',
           mark: 4.8,
           isChecked: false
         },
         {
           id: 4,
           name: 'Raphael Felicio',
           mark: 4.8,
           isChecked: false
         },
         {
           id: 5,
           name: 'Jon Fravreau',
           mark: 4.8,
           isChecked: false
         },
         {
           id: 6,
           name: 'Tony Starck',
           mark: 4.8,
           isChecked: false
         },
         {
           id: 7,
           name: 'Mark Schmidt',
           mark: 4.8,
           isChecked: false
         },
         {
           id: 8,
           name: 'Bia Ruffalo',
           mark: 4.8,
           isChecked: false
         }
       ]

       return {
         showCheckboxes,
         dataLocalSupplier
       }
    }
  }
</script>

<style lang="scss" scoped>
  .auto-search-items {
    position: relative;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 6px;
    top: 100%;
    left: 0;
    right: 0;
    margin-top:8px;
    height: 192px;
    padding: 10px 8px 10px 8px;
  }
  .items-child {
    height: 140px;
    overflow-y: scroll;
    top: 0;
    position: relative;
    right: -8px;
  }
  .items-child::-webkit-scrollbar {
    width: 12px;
  }
  .items-child::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 20px;
    background-color: #A4CBFA;
  }
  .border-search {
    margin-top: 10px;
    height: 52px;
    border-top: 1px solid #5C5C5C;
    padding-top: 4px;
    padding-left: 6px;
  }
  .selectBox {
    position: relative;
    cursor: pointer;
  }
  .selectBox .gray-dark {
    color: #5C5C5C;;
  }
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .checkboxes {
    margin-top: 8px;
    //display: none;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    padding: 20px 12px 16px;
  }
</style>
