<template>
  <div class="pt-28 mb-141 bg-blue-light h-187">
    <MainPage>
      <Breadcrumbs>
        <li class="dib"><a href=""><span class="gray-dark">Thailand Tours</span></a></li>
      </Breadcrumbs>
      <h1 class="mt-0 mb-11 fs-32 lh-22 fw-900">Bosnia and Herzegovina and a really huge long title test Tours</h1>
      <div class="mb-25 fs-14 lh-20 fw-700">
        <a href="">
          <span class="gray-dark">
            Read more
            <img src="@/assets/icons/icon-arrow-down.svg" alt="">
          </span>
        </a>
      </div>
      <TravelStyleBar/>
    </MainPage>
  </div>
</template>

<script>
import MainPage from '@/components/layout/parts/MainPage'
import Breadcrumbs from '@/components/ui/Breadcrumbs'
import TravelStyleBar from './TravelStyleBar'

export default {
  name: "GalleryBanner",
  components: {Breadcrumbs, TravelStyleBar, MainPage}
}
</script>
