<template>
  <div
      class="relative gray-dark ml-10 mr-10"
      @click="showDropdown=!showDropdown">
    <div
        class=" br-20 h-63 flex items-center hand pt-14 pb-14 pl-28 pr-28"
        :class="{'bd-1 bd-blue-branding': isSelect , 'bd-1 bd-transparent' : !isSelect}"
        @click="toggle"
    >
      <img :src="resolveImgUrl(pictureSrc)" class="mr-13" />
      <span class="fw-700 fs-14 white-space" :class="{'black': isSelect}">{{text}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TravelStyleBarSelect',
  data () {
    return {
      isSelect: false
    }
  },
  props: {
    text: {
      type: String,
      default: ''
    },
    pictureSrc: {
      type: String,
      default: ''
    }
  },
  methods: {
    resolveImgUrl: function (path) {
      let images = require.context('@/assets/icons', false, /\.png$|\.svg$/)
      if (this.isSelect) {
        // return images("./" + 'selected-' + path)
        return images(`./selected-${path}`)
      }

      return images('./' + path)
    },
    toggle() {
      this.isSelect = !this.isSelect;
    }
  }
}
</script>
