<template>
  <SearchBox class="relative" title="What is your travel style?">
    <TravelStyleBarSelect text="Essentials" picture-src="icon-essentials.svg"/>
    <TravelStyleBarSelect text="In-Depth Explorer" picture-src="icon-backpack.svg"/>
    <TravelStyleBarSelect text="Adventurous" picture-src="icon-adventurous.svg"/>
    <TravelStyleBarSelect text="Discoverer" picture-src="icon-compass.svg" class="last"/>
  </SearchBox>
</template>

<script>
import SearchBox from '@/components/ui/search/SearchBox'
import TravelStyleBarSelect from './TravelStyleBarSelect'

export default {
  name: 'TravelStyleBar',
  components: {SearchBox, TravelStyleBarSelect}
}
</script>

<style lang="scss" scoped>
.last {
  margin-right: 0 !important;
}
</style>
