<template>
  <div class="dj-banner">
    <div class="absolute left-0 right-0 top-114">
      <MainPage>
        <div class="tc mb-75">
          <SearchFormHome class="dib"/>
        </div>

        <h1 class="white proximanova fw-900 fs-52 lh-1 mb-37" >Customise your own<br/>private holiday using<br/>local experts.</h1>
        <button class="btn mr-24 btn-blue">Visit our Gallery</button>
        <button class="blue-outline btn">Discover our Holiday Packages</button>
      </MainPage>
    </div>
  </div>
</template>

<script>
import SearchFormHome from '@/components/ui/search/SearchFormHome'
import MainPage from '@/components/layout/parts/MainPage'

export default {
  name: 'HomeBanner',
  components: {MainPage, SearchFormHome}
}
</script>

