0<template>
  <div class="tc pt-90 pb-50">
    <h2 class="ma-0 fw-900 fs-36 lh-22"><slot name="title"></slot></h2>
    <div class="fs-18 lh-22 mt-24"><slot name="sub-title"></slot></div>
  </div>
</template>

<script>
export default {
  name: 'SectionHeading1'
}
</script>

<style scoped>

</style>
