<template>
    <div class="nml-8 nmr-8 flex flex-wrap tc">
      <div
          class="wp-16-6 pr-8 pb-20 pl-8"
          v-for="(item,index) in trendingDes" :key="index"
      >
        <div class="wp-100 hp-100 relative">
          <img class="db br-14 wp-100 br-14 hp-100" :src="item.img" alt="">
          <div class="absolute z-2 top-0 br-14 left-0 wp-100 hp-100 bg-linear-gradient-1 hand"></div>
          <p class="absolute z-3 white top-p-50 trans-y-50 left-0 wp-100 mt-0 mb-0 fw-900 fs-28">
            <span class="dib w-160 lh-28">
                {{item.countries}}
            </span>
          </p>
        </div>

      </div>
    </div>
</template>

<script>
export default {
  name: 'TrendingDestination',
  setup() {
    const trendingDes = [
      {img: 'https://s3-cdn.designerjourneys.com/homepagecards/12/255x255/france-tn-1560536160757.jpg',countries: 'France'},
      {img: 'https://tripfuser-pvt.s3.amazonaws.com/homepagecards/8/255x255/paul-trienekens-421463-unsplash-1540444154012.jpg',countries: 'Thailand'},
      {img: 'https://s3-cdn.designerjourneys.com/homepagecards/10/255x255/australia-tn-1560536172798.jpg',countries: 'Australia'},
      {img: 'https://s3-cdn.designerjourneys.com/homepagecards/11/255x255/peru-home-1565185019815.jpg',countries: 'Peru'},
      {img: 'https://s3-cdn.designerjourneys.com/homepagecards/1/255x255/full-malaysia-1559291552045.jpg', countries: 'England'},
      {img: 'https://s3-cdn.designerjourneys.com/homepagecards/2/255x255/full-morocco-1560741529811.jpg',countries: 'Germany'},
      {img: 'https://s3-cdn.designerjourneys.com/homepagecards/7/255x255/full-italy-1559291744005.jpg',countries: 'Italy'},
      {img: 'https://s3-cdn.designerjourneys.com/homepagecards/4/255x255/brazil-home-1588348208557.jpg',countries: 'Brazil'},
      {img: 'https://s3-cdn.designerjourneys.com/homepagecards/5/255x255/japan-home-1565185180489.jpg',countries: 'Japan'},
      {img: 'https://s3-cdn.designerjourneys.com/homepagecards/9/255x255/full-indonesia-1559291774613.jpg',countries: 'Spain'},
      {img: 'https://s3-cdn.designerjourneys.com/homepagecards/8/255x255/full-thailand-1559291756557.jpg',countries: 'Croatia'},
      {img: 'https://s3-cdn.designerjourneys.com/homepagecards/3/255x255/full-vietnam-1559291463444.jpg',countries: 'South Africa'}
    ]
    return {
      trendingDes
    }
  }
}
</script>
