<template>
  <footer>
    <MainPage>
      <AsSeenOn></AsSeenOn>
      <div class="flex wp-100">
        <div class="wp-33 mr-20">
          <div class="mb-38"><img src="../../../assets/images/logo-footer.png" alt="designer journeys"></div>
          <div class="fs-17 fw-700 mb-30">
            Sign Up for Tripfuser news, latest <br>offers & competitions.
          </div>
          <div>
            <p class="mb-13 fs-11 gray-medium fw-900">E-MAIL ADDRESS</p>
            <div class="flex">
              <input class="form-control" type="email" name="email">
              <button class="btn btn-blue ml-10">Subscribe</button>
            </div>
          </div>
        </div>
        <div class="wp-18 mr-20 ml-40">
          <div class="flex flex-column">
            <h5 class="fs-16 ma-0 mb-11">Company</h5>
            <a href="#" class="mb-11 fs-14 db"><span class="gray-dark">About Us</span></a>
            <a href="#" class="mb-11 fs-14 db"><span class="gray-dark">Contact Us</span></a>
            <a href="#" class="mb-11 fs-14 db"><span class="gray-dark">How it Works</span></a>
            <a href="#" class="mb-11 fs-14 db"><span class="gray-dark">Responsible Travel </span></a>
            <a href="#" class="mb-11 fs-14 db"><span class="gray-dark">Blog Press Coverage</span></a>
            <a href="#" class="mb-11 fs-14 db"><span class="gray-dark"> Press Coverage</span></a>
          </div>
        </div>
        <div class="wp-19 mr-20">
          <div class="flex flex-column">
            <div class="mb-33">
              <h5 class="fs-16 ma-0 mb-11">Local Supplier</h5>
              <a href="#" class="mb-11 fs-14 db"><span class="gray-dark">Become a Local Supplier</span></a>
              <a href="#" class="mb-11 fs-14 db"><span class="gray-dark">Local Supplier Login</span></a>
            </div>
            <div>
              <h5 class="fs-16 ma-0 mb-11">Travel Agent</h5>
              <a href="#" class="mb-11 fs-14 db"><span class="gray-dark">Become a Travel Agente</span></a>
              <a href="#" class="mb-11 fs-14 db"><span class="gray-dark">Travel Agent Login</span></a>
            </div>
          </div>
        </div>
        <div class="wp-22">
          <div>
            <h5 class="fs-16 ma-0 mb-19">Payment Methods</h5>
            <div class="mb-83">
              <img src="../../../assets/images/mastercard.png" srcset="../../../assets/images/mastercard2x.png 2x" alt="mastercard" class="mr-14">
              <img src="../../../assets/images/visa.png" srcset="../../../assets/images/visa2x.png 2x" alt="visa" class="mr-14">
              <img src="../../../assets/images/paypal.png" srcset="../../../assets/images/paypal2x.png 2x" alt="paypal" class="mr-14">
            </div>
          </div>
          <div>
            <p class="fs-12">certificate and security</p>
            <img src="../../../assets/images/geotrust.png" srcset="../../../assets/images/geotrust2x.png 2x" alt="geotrust">
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mt-70 mb-72">
        <div class="pr-27">
          <a href="#">
            <img src="~@/assets/icons/icon-instagram.svg"  alt="instagram"/>
          </a>
        </div>
        <div class="pr-27">
          <a href="#">
            <img src="~@/assets/icons/icon-facebook.svg"  alt="facebook"/>
          </a>
        </div>
        <div>
          <a href="#">
            <img src="~@/assets/icons/icon-youtube.svg"  alt="youtube"/>
          </a>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <ul class="list flex ma-0 mb-19">
          <li class="mr-25"><a href="#" class="fs-14"><span class="gray-dark">Terms of Use</span></a></li>
          <li class="mr-25"><a href="#" class="fs-14"><span class="gray-dark">Privacy Policy</span></a></li>
          <li class="mr-25"><a href="#" class="fs-14"><span class="gray-dark">Data Protection</span></a></li>
          <li class="mr-25"><a href="#" class="fs-14"><span class="gray-dark">Cookie Declaration</span></a></li>
          <li class="mr-25"><a href="#" class="fs-14"><span class="gray-dark">Traveller Protections</span></a></li>
        </ul>
      </div>
      <div class="fs-12 gray-dark tc mb-28">© 2021 designerjourney™. All rights reserved.</div>
    </MainPage>
  </footer>
</template>

<script>
import MainPage from './MainPage'
import AsSeenOn from "../../ui/AsSeenOn";

export default {
  name: 'DefaultFooter',
  components: {AsSeenOn, MainPage}
}
</script>

<style scoped>

</style>
