<template>
  <div :class="topMenuClass">
    <div :class="['fixed wp-100 top-0 z-9999', headerClasses, { 'bg-white bb-gray': isB2B}]">
      <div class="wrapper pl-30 pr-40" :class="{ 'ma-0-auto' : !isB2B}">
        <div class="flex justify-between items-center h-80">
          <div v-if="isHomePage && !isScroll">
            <router-link to="/">
              <img :src="logoWhite" />
            </router-link>
          </div>
          <div v-else>
            <router-link to="/">
              <img :src="logoBlack" />
            </router-link>
          </div>
          <div><slot name="top_right"></slot></div>
        </div>
      </div>
    </div>
    <div :class="isHomePage ? '' : 'mt-80'">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { computed, defineComponent } from 'vue'

export default defineComponent({
  name: 'DefaultHeader',
  props: {
    isHomePage: {
      type: Boolean,
      default: false
    },
    isScroll: {
      type: Boolean,
      default: false
    },
    isB2B: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      logoWhite: require('../../../assets/designer-journeys-white.svg'),
      logoBlack: require('../../../assets/designer-journeys-black.svg')
    }
  },
  setup: props => {
    const topMenuClass = computed(() => {
      return [
        { 'white': props.isHomePage }
      ]
    })
    const headerClasses = computed(() => {
      return [
        { 'bg-white black': props.isScroll }
      ]
    })
    return { topMenuClass, headerClasses }
  }
})
</script>
