<template>
  <div class="wrapper ma-0-auto">
    <div class="container ma-0-auto">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MainPage'
  }
</script>

<style scoped>

</style>
