$size: 4, 5, 6, 8, 12, 14,16, 20, 50;
$size-percent: 50;

@each $value in $size-percent {
  .br-p-#{$value} {
    border-radius: $value * 1%;
  }
}

@each $value in $size {
  .br-#{$value} {
    border-radius: unit($value);
  }
}
