/*

    BORDERS

    Base:
      bd = border

    Modifiers:
      a = all
      t = top
      r = right
      b = bottom
      l = left
      n = none

*/

.bd-n {border: none;}
.bd-n-important {border: none !important;}

.bd-1 {
  border: 1px solid
}

.bd-2 {
  border: 2px solid;
}
.bd-b-1 {
  border-bottom:1px solid;
}

.bd-r-1 {
  border-right: 1px solid
}

$border-colors: (
  "gray-dark": $gray-dark,
  "gray-lighter": $gray-lighter,
  "white": $white,
  "black": $black,
  "white-branding": $white-branding,
  "transparent": transparent,
  "blue-branding": $blue-branding,
  "gray-medium" : $gray-medium,
  "green": $green,
  'blue-branding-1': $blue-branding-1
);

@each $color, $value in $border-colors {
  .bd-#{$color} {
   border-color: $value;
  }
  .bd-#{$color}-important {
    border-color: $value !important;
   }
}

/* Border bottom
=============================*/
.bb-blue { border-bottom: 1px solid #E0E0E0}
.bb-gray { border-bottom: 1px solid #E5E5E5}


/* Border left dashed
=============================*/
.bl-dashed-gray { border-left: 1px dashed #D0D0D0}
