/*
    BUTTONS

*/

$button-colors-solid: (
  "btn-black": ("background-color": $black, "color": $white),
  "btn-gray-dark": ("background-color": $gray-dark, "color": $white),
  "btn-blue": ("background-color": $blue-branding, "color": $black),
  "btn-green": ("background-color": $green, "color": $black),
  "btn-white": ("background-color": $white, "color": $black),
  "btn-white-gray": ("background-color": $white, "color": $gray-dark),
  "btn-white-alpha": ("background-color": rgba(255, 255, 255, 0.3), "color": $white)
);

$button-colors-outline: (
  "blue-outline": ("background-color": transparent, "color": $blue-branding, "border-color": $blue-branding),
  "gray-dark-outline": ("background-color": transparent, "color": $gray-dark, "border-color": $gray-dark),
);

@mixin button-variant($color, $hover-color: $color, $border-color: $background, $border-hover-color: darken($background, 4%), $background, $hover-background: darken($background, 4%)) {
  color: $color;
  background-color: $background;
  border-color: $border-color;

  &:hover, &:link, &:visited, &:hover, &:active, &:focus {
    color: $hover-color;
    background-color: $hover-background;
    border-color: $border-hover-color;
  }
}

@mixin button-color($btn-colors) {
  @each $color, $values in $btn-colors {
    .#{$color} {
      $bg: map-get($values, "background-color");
      $text-color: map-get($values, "color");
      $hover-background: darken($bg, 4%);
      @include button-variant($text-color, $text-color, $bg, $hover-background, $bg, $hover-background)
    }
  }
}

@mixin button-color-outline($btn-colors) {
  @each $color, $values in $btn-colors {
    .#{$color} {
      $bg: map-get($values, "background-color");
      $text-color: map-get($values, "color");
      $hover-background: $bg;
      $border-color: map-get($values, "border-color");
      $border-color-hover: darken($border-color, 4%);
      @include button-variant($text-color, $text-color, $border-color, $border-color-hover, $bg, $hover-background)
    }
  }
}

@mixin button($btn-font-family: $font-family-base, $btn-font-weight: $font-weight-bold, $btn-font-size: 14px, $btn-padding: 8px 20px, $btn-line-height: 18px, $btn-border-radius: 8px, $border-width: 1px, $display: inline-block) {
  display: $display;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-width: $border-width;
  border-style: solid;
  padding: $btn-padding;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  border-radius: $btn-border-radius;

  &:hover {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  //&.disabled,
  //&:disabled {
  //  opacity: $btn-disabled-opacity;
  //}
}
.btn {
  @include button()
}
.btn-quare {
  @include button($btn-font-size: 0, $btn-padding: 0, $btn-line-height: 1, $border-width: 0);
  width: 32px; height: 32px;
}
.btn-round {
  @include button($btn-font-size: 12px, $btn-padding: 8px 16px, $btn-line-height: 18px, $btn-border-radius: 14px, $border-width: 1px, $display: flex);
  img {margin-right: 10px;}
}
@include button-color($button-colors-solid);
@include button-color-outline($button-colors-outline);
