/*
    COLORS - BACKGROUND-COLOR

*/

/* Colors
=============================*/
$colors: (
  "white": $white,
  "black": $black,
  "gray-dark": $gray-dark,
  "gray-medium": $gray-medium,
  "red": $red,
  "yellow": $yellow-score,
  "blue-light": $blue-light,
  "blue-branding": $blue-branding
);

@each $color, $value in $colors {
  .#{$color} {
   color: $value;
  }
  .#{$color}-important {
    color: $value !important;
  }
}


/* Background Colors
=============================*/
$bg-colors: (
  "white": $white,
  "black": $black,
  "gray-dark": $gray-dark,
  "gray-medium": $gray-medium,
  "gray-light": $gray-light,
  "green": $green,
  "green-400": $green-400,
  "green-200": $green-200,
  "blue": $blue-branding,
  "blue-800": $blue-branding-800,
  "blue-100": $blue-branding-100,
  "blue-light": $blue-light,
);

@each $color, $value in $bg-colors {
  .bg-#{$color} {
    background-color: $value;
  }
}
.bg-transparent {
  background: transparent;
}

.bg-linear-gradient {
  background: linear-gradient(179.9deg, rgba(0, 0, 0, 0.51) 0.09%, rgba(0, 0, 0, 0) 48.3%), linear-gradient(180deg, rgba(0, 0, 0, 0) 63.2%, rgba(0, 0, 0, 0.371) 100%);
}

.bg-linear-gradient-1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
