/*
    FONTS

    Base:
    ft = font-style
    fs = font-size
    fw = font-weight

    Media Query Extensions:
      -xs = tiny
      -xsm = x small
      -sm = small
      -md  = medium
      -lg  = large
      -xl  = x large

*/

//.proximanova { font-family: $font-family-proximanova;}

/* Font size
==================================*/
$font-sizes: 8, 11, 12, 14, 16, 18, 20, 28, 36, 52;

@each $value in $font-sizes {
  .fs-#{$value} {
    font-size: unit($value);
  }
}

/* Font weight
==================================*/
$font-weight: (
  "400": $font-weight-normal,
  "500": $font-weight-medium,
  "600": $font-weight-semibold,
  "700": $font-weight-bold,
  "800": $font-weight-extrabold,
  "900": $font-weight-black
) !default;

@each $name, $value in $font-weight {
  .fw-#{$name} {
    font-weight: $value;
  }
}

/* Font styles
==================================*/
.italic {font-style: italic}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 900;
  src: url('https://s3-cdn.designerjourneys.com/fonts/ProximaNova/ProximaNova-Black.otf') format("OpenType");
  font-display: swap;
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 800;
  src: url('https://s3-cdn.designerjourneys.com/fonts/ProximaNova/ProximaNova-ExtraBold.otf') format("OpenType");
  font-display: swap;
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 700;
  src: url('https://s3-cdn.designerjourneys.com/fonts/ProximaNova/ProximaNova-Bold.otf') format("OpenType");
  font-display: swap;
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 600;
  src: url('https://s3-cdn.designerjourneys.com/fonts/ProximaNova/ProximaNova-SemiBold.otf') format("OpenType");
  font-display: swap;
}

@font-face {
  font-family: ProximaNova;
  font-style: italic;
  font-weight: 600;
  src: url('https://s3-cdn.designerjourneys.com/fonts/ProximaNova/ProximaNova-SemiBoldItalic.otf') format("OpenType");
  font-display: swap;
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 500;
  src: url('https://s3-cdn.designerjourneys.com/fonts/ProximaNova/ProximaNova-Medium.otf') format("OpenType");
  font-display: swap;
  unicode-range: u+020 -007 f
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 400;
  src: url('https://s3-cdn.designerjourneys.com/fonts/ProximaNova/ProximaNova-Regular.otf') format("OpenType");
  font-display: swap;
  unicode-range: u+020 -007 f
}

@font-face {
  font-family: ProximaNova;
  font-style: italic;
  font-weight: 400;
  src: url('https://s3-cdn.designerjourneys.com/fonts/ProximaNova/ProximaNova-RegularItalic.otf') format("OpenType");
  font-display: swap;
  unicode-range: u+020 -007 f
}
