.form-control{
  border: 1px solid $input-border-color;
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  border-radius: $input-border-radius;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  transition: $input-transition;
  cursor: pointer;
  &:hover {border-color: $input-hover-border-color;}
  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
  }

  // Placeholder
  &::placeholder {
    color: $black;
    opacity: 1;
  }
  &::-moz-placeholder {
    opacity: 1;
    color: $black;
  }

  &::-webkit-input-placeholder {
    opacity: 1;
    color: $black;
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: $black;
  }

  // Disabled and read-only inputs
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    opacity: 1;
  }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Remove select outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $input-color;
  }
}

.icon-search {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: url('~@/assets/icons/icon-search.svg');
  background-position: 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  &:focus::-ms-value {
    color: $input-color;
    background-color: $input-bg;
  }
}
.custom-control {
  position: relative;
  display: block;
  min-height: 16px;
  padding-left: 35px;
  line-height: 1.5;
}
.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.5;
  &::after, &::before {
    position: absolute;
    top: 3px;
    left: -32px;
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    transition: all 0.15s ease-in-out;
  }
  &::before {
    pointer-events: none;
    border: 1px solid $border;
    box-shadow: 0 1px 1px rgba(0, 59, 119, 0.05);
  }

  // Foreground (icon)
  &::after {
    background-position: center; background-size: contain; background-repeat: no-repeat;
  }
}

.custom-checkbox {
  .custom-control-label {
    &::before, &::after {
      border-radius: 3px;
    }
  }
  .custom-control-input:checked~.custom-control-label {
    &::after {
      background-color: $blue-branding;
      background-image: url('~@/assets/icons/icon-mask.svg');
    }
  }
}
.custom-control-input {
  position: absolute;
  left: 2px;
  z-index: 1;
  width: 16px;
  height: 16px;
  opacity: 0;
  top: 3px;
  &:checked~.custom-control-label::before {
    color: $white;
    border-color: rgba(0, 59, 119, 0.2);
    background-color: $blue-branding;
  }
  &:focus:not(:checked)~.custom-control-label::before {
    border-color: $border;
  }
  &:not(:disabled):active~.custom-control-label::before {
    color: $white;
    background-color: lighten($border, 35%);
    border-color: lighten($border, 35%);
  }
  &[disabled],
  &:disabled {
    ~.custom-control-label {
      color: $white;
      &::before {
        background-color: $white;
      }
    }
  }
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: url('~@/assets/icons/icon-chevron.svg');
  background-position: bottom 15px right 15px;
  background-repeat: no-repeat;
  padding-right: 20px;
  &:focus::-ms-value {
    color: $input-color;
    background-color: $input-bg;
  }
}
