@use 'sass:math';

@function strip-unit($num) {
  @return math.div($num, ($num * 0 + 1));
}

@function add-unit($value)  {
  $value: strip-unit($value) * 1px;
  @if ($value == 0px) { $value: 0; } // Turn 0px into 0
  @return $value;
}

@function unit($values) {
  $max: length($values);

  @if $max == 1 { @return add-unit(nth($values, 1)); }

  $pxValues: ();
  @for $i from 1 through $max {
    $remValues: append($pxValues, add-unit(nth($values, $i)));
  }
  @return $pxValues;
}
