/*
    GLOBAL STYLES

*/

.wrapper {
  max-width: map-get($wrapper-max-widths, "xl");
}

.container {
  max-width: map-get($container-max-widths, "xl");
}

.clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

*,
*::before,
*::after,
.border-box {
  box-sizing: border-box;
}

.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
