/*
    HEIGHT

    Base:
    h =  height

    Modifiers:
    p = width in percent

*/

/* Height in %
=============================*/
$height-percent: 100;

@each $value in $height-percent {
  .hp-#{$value} {
    height: $value * 1%;
  }
}

/* Height in pixel
=============================*/
$height-pixel: 0, 2, 16, 18, 20, 22, 24, 30, 37, 38, 40, 50, 63, 80, 87, 140, 187, 400;

@each $value in $height-pixel {
  .h-#{$value} {
    height: unit($value);
  }
}
