/*
    LINE HEIGHT

    Base:
    lh = line-height

    Media Query Extensions:
      -sm = small
      -m  = medium
      -l  = large
      -xl  = x large

*/
$line-height: (
  '0': 0,
  '1': 1,
  '15': 15px,
  '16': 16px,
  '18': 18px,
  '20': 20px,
  '22': 22px,
  '24': 24px,
  '28': 28px,
  '37': 37px
);

@each $name, $value in $line-height {
  .lh-#{$name} {
    line-height: $value;
  }
}

