/*
    MARGIN

    Base:
    m = margin
    nm = negative margin

    Modifiers:
    a = all
    t = margin top
    b = margin bottom
    l = margin left
    r = margin right

    Media Query Extensions:
      -xs = tiny
      -xsm = x small
      -sm = small
      -md  = medium
      -lg  = large
      -xl  = x large

*/

/* Margin all
=============================*/
$margin-all: (
  "0": 0px,"0-auto": 0 auto,"0-10": 0 10px
);

/* Margin left
=============================*/
$margin-left: 0, 3, 5, 7, 8, 9, 10, 15, 18, 24, 27, 30, 40;

/* Margin right
=============================*/
$margin-right: 0, 2, 3, 5, 6, 8, 9,10, 11, 12, 13, 14 ,16, 20, 24, 25 ,30, 33 ,35, 54;

/* Margin top
=============================*/
$margin-top: 0, 7, 10, 12, 14, 15, 16,23, 24, 37, 40, 43, 47, 48, 64, 70, 80;

/* Margin bottom
=============================*/
$margin-bottom: 0, 2, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 33, 34, 35, 37, 38, 39, 43, 40, 44, 47, 48, 53, 63, 70, 72, 75, 80, 83, 87, 141;

/* Margin bottom
=============================*/
//$margin-bottom: 0, 5, 6, 7, 8, 9, 11, 12, 13, 16, 19, 20, 22, 24, 25, 27, 28, 29, 30, 33, 34, 35, 37, 38, 39, 43, 47, 72, 75, 80, 83, 87,141;

/*======================================*/
@each $name, $value in $margin-all {
  .ma-#{$name} {
    margin: $value;
  }
}

@each $value in $margin-left {
  .ml-#{$value} {
    margin-left: unit($value);
  }
}

@each $value in $margin-right {
  .mr-#{$value} {
    margin-right: unit($value);
  }
}

@each $value in $margin-top {
  .mt-#{$value} {
    margin-top: unit($value);
  }
}

@each $value in $margin-bottom {
  .mb-#{$value} {
    margin-bottom: unit($value);
  }
}

/* Negative margin
=============================*/
$nm-left: (
  "8": 8px,
  "9": 9px,
  "10": 10px,
  "13": 13px,
  "18": 18px
);

$nm-right: (
  "8" : 8px,
  "9": 9px,
  "10": 10px,
  "13": 13px,
  "18": 18px
);
$nm-top: (
  "32": 32px,
);

$nm-bottom: (

);

@each $name, $value in $nm-left {
  .nml-#{$name} {
    margin-left: -$value;
  }
}

@each $name, $value in $nm-right {
  .nmr-#{$name} {
    margin-right: -$value;
  }
}
@each $name, $value in $nm-top {
  .nmt-#{$name} {
    margin-top: -$value;
  }
}
@each $name, $value in $nm-bottom {
  .nmb-#{$name} {
    margin-bottom: -$value;
  }
}

