/*
    Padding

    Base:
    p = padding
    np = negative padding

    Modifiers:
    a = all
    t = padding top
    b = padding bottom
    l = padding left
    r = padding right

    Media Query Extensions:
      -xs = tiny
      -xsm = x small
      -sm = small
      -md  = medium
      -lg  = large
      -xl  = x large

*/

/* Padding all
=============================*/
$padding-all: (
  "0-10": 0px 10px,
  "10": 10px,
  "0-18": 0 18px,
  "0-20": 0 20px,
  "20": 20px
);

/* Padding left
=============================*/
$padding-left: 0, 3, 6, 8, 9, 10, 13, 14, 15, 16, 18, 20, 21, 22, 23, 24, 27, 28, 30, 35, 38, 40, 42 ,44, 48, 60, 84, 110;

/* Padding right
=============================*/
$padding-right: 6, 8,9, 10, 12, 13, 15, 16, 18, 20, 21, 23, 24, 27, 28, 40, 44, 45, 60, 82, 110;

/* Padding top
=============================*/
$padding-top: 0, 2, 3, 4, 7, 9, 11, 13, 14, 18, 20, 26, 27, 28, 30, 43, 48, 60, 65, 67, 75, 90, 154;

/* Padding bottom
=============================*/
$padding-bottom: 0, 2, 3, 9, 10, 11, 12, 13, 14, 16, 18, 20, 29, 30, 43, 48, 50, 63, 65, 72, 75, 124;

/*======================================*/
@each $name, $value in $padding-all {
  .pa-#{$name} {
    padding: $value;
  }
}

@each $value in $padding-left {
  .pl-#{$value} {
    padding-left: unit($value);
  }
}

@each $value in $padding-right {
  .pr-#{$value} {
    padding-right: unit($value);
  }
}

@each $value in $padding-top {
  .pt-#{$value} {
    padding-top: unit($value);
  }
}

@each $value in $padding-bottom {
  .pb-#{$value} {
    padding-bottom: unit($value);
  }
}
