/*
    POSITION

    Base:
    left, right, top, bottom
    n: nagative

    Modifiers:
    -p = position in percent

*/

.static { position: static; }
.relative { position: relative; }
.absolute  { position: absolute; }
.fixed  { position: fixed; }
.sticky {position: sticky}

// Negative Top
//=============================//
$ntop: (
  "27": 27px
);

// Negative Left
//=============================//
$nleft: (
  "27": 27px
);

// Left
//=============================//
$position-left: 0, 4, 12;
$position-left-percent: 45, 50;

// Right
//=============================//
$position-right: 0, 8;

// Top
//=============================//
$position-top: 0, 8, 12, 35, 40, 64, 114, 280;
$position-top-percent: 25, 50;

// Bottom
//=============================//
$position-bottom: 0, 20;


/*==========================================*/
@each $value in $position-left {
  .left-#{$value} {
    left: unit($value);
  }
}
@each $value in $position-left-percent {
  .left-p-#{$value} {
    left: $value * 1%
  }
}
@each $value in $position-right {
  .right-#{$value} {
    right: unit($value);
  }
}
@each $value in $position-top {
  .top-#{$value} {
    top: unit($value);
  }
}
@each $value in $position-top-percent {
  .top-p-#{$value} {
    top : $value * 1%
  }
}
@each $value in $position-bottom {
  .bottom-#{$value} {
    bottom: unit($value);
  }
}

//=== Negative ====//
@each $name, $value in $ntop {
  .ntop-#{$name} {
    top: -$value;
  }
}
@each $name, $value in $nleft {
  .nleft-#{$name} {
    left: -$value;
  }
}
