/*
    ROTATION

    Base:
    left, right, top, bottom
    
    Modifiers:
    -p = position in percent

*/

/* Translate in %
=============================*/
.trans-50 {
  transform: translate(-50%, -50%);
}

/* Translate Y in %
=============================*/
.trans-y-50 {
  transform: translateY(-50%);
}

/* Translate X in %
=============================*/
.trans-x-50 {
  transform: translateX(-50%);
}
