/* Colors
=============================*/
$white:    #fff !default;
$white-branding: rgba(208, 208, 208, 0.3) !default;
$black:    #000 !default;

$white-branding: #E5E5E5;

$gray-dark: #5C5C5C !default;
$gray-medium: #D0D0D0 !default;
$gray-light: rgba(208, 208, 208, .15) !default;
$gray-lighter: #E5E5E5 !default;

$red: #CB0303 !default;

$yellow-score: #FABF39 !default;

$green: rgba(208, 253, 220, 1) !default;
$green-400: rgba(208, 253, 220, .4) !default;
$green-200: rgba(208, 253, 220, .2) !default;

$blue-light: rgba(238, 247, 249, 1) !default;
$blue-branding-1: rgba(165, 202, 250, 1) !default;
$blue-branding: rgba(164, 203, 250, 1) !default;
$blue-branding-800: rgba(164, 203, 250, .8) !default;
$blue-branding-100: rgba(164, 203, 250, .1) !default;

$border: rgba(0, 59, 119, 0.2)!default;

/* Font family
=============================*/
$font-family-proximanova: ProximaNova, sans-serif !default;

$font-family-base: $font-family-proximanova !default;



/* Font weight
=============================*/
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-extrabold:       800 !default;
$font-weight-black:           900 !default;

$font-weight-base:            400 !default;
$line-height-base:            1.5 !default;

/* Grid breakpoints
=============================*/
$grid-breakpoints: (
  "xs": 0,
  "xsm": 320px,
  "sm": 540px,
  "md": 768px,
  "lg": 992px,
  "xl": 1300px
) !default;

$container-max-widths: (
  "sm": 767px,
  "md": 991px,
  "lg": 1299px,
  "xl": 1220px
) !default;

$wrapper-max-widths: (
  "sm": 767px,
  "md": 991px,
  "lg": 1299px,
  "xl": 1440px
) !default;

$grid-gutter-width: 16px !default;

/* Border radius
=============================*/
$border-radius: (
  "8": 8px,
  "14": 14px,
  "16": 16px,
  "20": 20px
) !default;

/* Box shadow
=============================*/
$box-shadow: (
  "1": 0px 4px 44px rgba(0, 0, 0, 0.1),
  "2": 0px 10px 24px rgba(0, 0, 0, 0.1),
  "3": 0px 14px 44px rgba(0, 0, 0, 0.1),
  "4": 0px 14px 44px rgba(0, 0, 0, 0.1),
) !default;


/* Filter
==============================*/
$filter: (
"1" : drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.15)),
) !default;

/* Icons
=============================*/
$ico-map: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 14.1231L5.63064 16L11.1512 12.8454L15.8433 14.7222V1.92556L11.0293 0L5.45963 3.18269L0 1.36282V14.1231ZM9.50595 11.9608L6.3373 13.7714V4.50592L9.50595 2.69526V11.9608ZM11.0903 11.1146L14.2589 12.3821V2.9982L11.1512 1.75511L11.0903 1.78993V11.1146ZM1.58433 12.9812L4.75298 14.0374V4.61717L1.58433 3.56095V12.9812Z' fill='white'/%3E%3C/svg%3E");


/* Form elements
=============================*/
$label-margin-bottom:                   .5rem !default;

$input-btn-padding-y:                   0 !default;
$input-btn-padding-x:                   16px !default;
$input-btn-font-family:                 $font-family-base !default;
$input-btn-font-size:                   14px !default;
$input-btn-line-height:                 16px !default;
$input-btn-radius:                      8px !default;

$input-padding-y:                       $input-btn-padding-y !default;
$input-padding-x:                       $input-btn-padding-x !default;
$input-font-family:                     $input-btn-font-family !default;
$input-font-size:                       $input-btn-font-size !default;
$input-font-weight:                     400 !default;
$input-line-height:                     $input-btn-line-height !default;

$input-bg:                              $white !default;
$input-disabled-bg:                     $white !default;

$input-color:                           $black !default;
$input-border-color:                    $gray-medium!default;

$input-hover-border-color:              #000;

$input-border-radius:                   6px !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              $gray-medium !default;
$input-focus-color:                     $input-color !default;

$input-height:                          40px !default;

$input-transition:                      border-color .15s ease-in-out !default;

