/*
    WIDTH

    Base:
    w = width
    mw = max width

    Modifiers:
    p = width in percent

    Media Query Extensions:
    -xs = tiny
    -xsm = x small
    -sm = small
    -md  = medium
    -lg  = large
    -xl  = x large

*/

@use "sass:math";

/* Width in %
=============================*/
$w166: math.div(100, 6);
$w333: math.div(100, 3);
$width-percent: (
  "16-6": $w166, "33-3": $w333, '18': 18, '19': 19, '20': 20, '22': 22, '25': 25, '30': 30, '33': 33, '50':50, '70': 70, '75': 75, '80': 80, '100': 100
);

/*$max-width-percent: 0;*/

/* Width in pixel
=============================*/
$width-pixel: 0, 1 , 2, 4, 5, 16, 17, 18, 20, 22, 30, 32, 37, 50, 63, 80, 112, 120, 140, 160, 174, 176, 222, 266, 284, 644, 805;
$max-width-pixel: 283, 355, 430;
$min-width-pixel: 176;
$min-width-percent: 100;

/* Bottom
=============================*/

/* Top
=============================*/

/*==========================================*/
@each $name, $value in $width-percent {
  .wp-#{$name} {
    width: $value * 1%;
  }
}
@each $value in $width-pixel {
  .w-#{$value} {
    width: unit($value);
  }
}
@each $value in $max-width-pixel {
  .maxw-#{$value} {
    max-width: unit($value);
  }
}
//@each $value in $max-width-percent {
//  .maxwp-#{$value} {
//    max-width: $value * 1%;
//  }
//}
@each $value in $min-width-pixel {
  .minw-#{$value} {
    min-width: unit($value);
  }
}

@each $value in $min-width-percent {
  .minwp-#{$value} {
    min-width: $value * 1%;
  }
}


// Auto
.w-auto{width: auto !important};
