<template>
  <div class="relative" @click="showDropdown = !showDropdown">
    <div class="select bd-1 bd-gray-medium br-6 h-40 pl-16 pr-16 h-40 flex items-center hand">
      <input
        :type="type"
        class="black bd-n wp-100 fs-14 outline-0 hand"
        :placeholder="placeholder"
        :value="dataBindingOption"
        readonly="readonly"
      />
      <svg
        width="8"
        height="5"
        viewBox="0 0 8 5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7.35032 0L8 0.57401L4 4.10811L0 0.57401L0.649682 0L4 2.96009L7.35032 0Z"
          fill="black"
        />
      </svg>
    </div>
    <div
      class="absolute bd-1 bd-gray-medium bg-white gray-dark pt-20 pb-20 pl-16 pr-16 br-6 wp-100 mt-16 z-9999"
      v-if="showDropdown"
      v-ClickOutside="closeDropdown"
    >
      <div
        v-for="(item, index) in options"
        :key="index"
        :class="{'pb-14': index !== options.length - 1}"
      >
        <a class="db tl fs-14 gray-dark hand" @click="onChangeOption(item)"
          ><span class="black">{{ item }}</span></a
        >
      </div>
    </div>
  </div>
</template>

<script>
import { ref, defineComponent } from "vue";
import { ClickOutside } from "@/directives";

export default defineComponent({
  name: "Dropdown",
  directives: {
    ClickOutside
  },
  props: {
    type: {
      type: String,
      default: "text"
    },
    placeholder: {
      type: String,
      default: ""
    },
    options: {
      type: Array,
      default: null
    }
  },
  setup: (props, context) => {
    const showDropdown = ref(false);
    const dataBindingOption = ref("");

    const closeDropdown = () => {
      showDropdown.value = false;
    };

    const onChangeOption = item => {
      dataBindingOption.value = item;
      context.emit("update:dataBindingOption", item);
    };

    return { showDropdown, closeDropdown, onChangeOption, dataBindingOption };
  }
});
</script>

<style lang="scss" scoped>
.select{
  &:hover,
  &:focus,
  &:active{
    border-color: #a4cbfa;
  }
}
</style>
