<template>
  <div
    class="select relative overflow-hidden lh-28 bd-1 bd-gray-medium br-6 h-40 pr-7 pl-14 flex items-center"
    :class="{ open: showDropdown }"
  >
    <input
      :type="type"
      :placeholder="placeholder"
      class="outline-0 bd-n pl-60 wp-100 fs-14"
      @input="onChangeBudget"
    />
    <div
      class="wp-17 bd-n absolute flex items-center bd-r-1 bd-green pr-13 hand"
      @click="showDropdown = !showDropdown"
      v-ClickOutside="closeDropdown"
    >
      <input type="hidden" :value="dataBindingCurrency" />
      <div
        class="bd-1 bd-black br-p-50 w-18 h-18 mr-8 flex items-center justify-center"
      >
        <img :src="imageBindingCurrency" alt="" />
      </div>
      <svg
        width="8"
        height="5"
        viewBox="0 0 8 5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7.35032 0L8 0.57401L4 4.10811L0 0.57401L0.649682 0L4 2.96009L7.35032 0Z"
          fill="black"
        />
      </svg>
    </div>
    <ul
      class="absolute left-4 top-40 wp-16 bd-1 bd-gray-medium bg-white gray-dark br-6 pl-0 mt-16 hand"
      v-ClickOutside="closeDropdown"
    >
      <li
        class="db pt-4 pb-4 pl-10 pr-10"
        v-for="(item, index) in listCurrency"
        :key="index"
        @click="onChangeCurrency(item)"
      >
        <div class="db tl fs-12 gray-dark hand">{{ item.value }}</div>
      </li>
    </ul>
  </div>
</template>

<script>
import { ref, defineComponent } from "vue";
import { ClickOutside } from "@/directives";
import dollarIcon from "../../../assets/icons/dollar-currency.svg";

export default defineComponent({
  name: "Dropdown",
  directives: {
    ClickOutside
  },
  props: {
    type: {
      type: String,
      default: "text"
    },
    placeholder: {
      type: String,
      default: ""
    },
    options: {
      type: Array,
      default: null
    }
  },
  setup: (props, context) => {
    const listCurrency = [
      {
        img: dollarIcon,
        value: "USD"
      },
      {
        img: dollarIcon,
        value: "VND"
      },
      {
        img: dollarIcon,
        value: "JPN"
      }
    ];
    const showDropdown = ref(false);
    const dataBindingCurrency = ref("USD");
    const imageBindingCurrency = ref(dollarIcon);
    const dataBindingBudget = ref("");

    const closeDropdown = () => {
      showDropdown.value = false;
    };

    const onChangeBudget = event => {
      dataBindingBudget.value = event.target.value;
      context.emit("update:dataBindingBudget", event.target.value);
    };

    const onChangeCurrency = item => {
      dataBindingCurrency.value = item.value;
      context.emit("update:dataBindingCurrency", item.value);
    };

    return {
      listCurrency,
      showDropdown,
      closeDropdown,
      onChangeBudget,
      onChangeCurrency,
      dataBindingCurrency,
      imageBindingCurrency
    };
  }
});
</script>

<style lang="scss" scoped>
.select {
  &.open {
    overflow: visible;
  }
  &:hover,
  &:focus,
  &:active {
    border-color: #a4cbfa;
  }
}
</style>
