<template>
  <div class="flex items-center justify-center pt-65 pb-65">
    <div class="flex pr-60">
      <div class="pa-0-20 fs-12">As seen on</div>
      <div class="pa-0-20"><a href="#"><img src="@/assets/images/traveltalk.png" srcset="@/assets/images/traveltalk-2x.png 2x" alt="Traveltalk"></a></div>
      <div class="pa-0-20"><a href="#"><img src="@/assets/images/travel-weekly.png" srcset="@/assets/images/travel-weekly-2x.png 2x" alt="Travel weekly"></a></div>
      <div class="pa-0-20"><a href="#"><img src="@/assets/images/phocuswire.png" srcset="@/assets/images/phocuswire-2x.png 2x" alt="phocuswire"></a></div>
    </div>
    <div class="flex">
      <div class="pa-0-20 fs-12">Partners</div>
      <div class="pa-0-20"><a href="#"><img src="@/assets/images/acta.png" srcset="@/assets/images/acta-2x.png 2x" alt="acta"></a></div>
      <div class="pa-0-20"><a href="#"><img src="@/assets/images/cato.png" srcset="@/assets/images/cato-2x.png 2x" alt="cato"></a></div>
      <div class="pa-0-20"><a href="#"><img src="@/assets/images/south-africa-tourism.png" srcset="@/assets/images/south-africa-tourism-2x.png 2x" alt="south africa tourism"></a></div>
      <div class="pa-0-20"><a href="#"><img src="@/assets/images/satsa.png" srcset="@/assets/images/satsa-2x.png 2x" alt="satsa"></a></div>
      <div class="pa-0-20"><a href="#"><img src="@/assets/images/pacific-trade-invest.png" srcset="@/assets/images/pacific-trade-invest-2x.png 2x" alt="pacific trade invest"></a></div>
    </div>
  </div>
  <div class="tc ma-0-auto mb-80 w-805 bb-blue"></div>
</template>

<script>
export default {
  name: "AsSeenOn"
}
</script>

<style scoped>

</style>
