<template>
  <span :class="['dib black fs-11 italic fw-600 pt-3 pb-3 pl-10 pr-10 br-5', badgeColor]">
    <template v-if="typeBadge === 'flights'">
      <div class="flex items-center">
        <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.9092 2.30543C17.7719 1.96844 17.4957 1.69932 17.1318 1.54778C15.8141 0.999059 14.336 0.941482 12.9698 1.3855L11.5424 1.84945L7.46833 0.048862C7.3392 -0.00818257 7.18943 -0.0156232 7.05404 0.0283925L4.62162 0.81901C4.43793 0.878723 4.3063 1.02424 4.27958 1.19716C4.25287 1.37008 4.33545 1.542 4.49418 1.64391L7.07573 3.30128L3.48803 4.46735L2.15676 3.5034C2.01286 3.39923 1.8183 3.37006 1.64424 3.42667L0.346961 3.84833C0.215545 3.89106 0.108493 3.97865 0.0493949 4.09186C-0.00970347 4.20507 -0.0160317 4.33455 0.0318165 4.45193L0.858139 6.47929C1.12702 7.13902 1.66752 7.66577 2.38007 7.96245C3.09263 8.25919 3.89188 8.29033 4.63066 8.05023L7.79131 7.02292L7.10977 9.41289C7.06153 9.58205 7.12204 9.76116 7.26695 9.87826C7.36553 9.95791 7.49216 10 7.62087 10C7.68138 10 7.74241 9.99072 7.80116 9.97163L10.2336 9.18101C10.369 9.13699 10.4784 9.04541 10.5362 8.92753L12.1695 5.59989L17.0107 4.02641C17.7897 3.77314 18.1928 3.00114 17.9092 2.30543ZM5.91999 1.39928L7.20272 0.982389L10.1722 2.29482L8.27524 2.91139L5.91999 1.39928ZM16.6499 3.14132L11.5967 4.78371C11.4612 4.82773 11.3519 4.91931 11.294 5.0372L9.6608 8.36483L8.37804 8.78176L9.05959 6.39179C9.10782 6.22264 9.04732 6.04353 8.9024 5.92643C8.80382 5.84678 8.67719 5.80468 8.54848 5.80468C8.48794 5.80468 8.42691 5.814 8.3682 5.83306L4.26992 7.16511C3.79586 7.3192 3.283 7.2992 2.82579 7.10882C2.36857 6.91844 2.02175 6.58044 1.84924 6.15715L1.20327 4.5723L1.72443 4.40289L3.05571 5.36684C3.19957 5.47098 3.39413 5.50011 3.56822 5.44357L13.3306 2.27055C14.4321 1.91253 15.6238 1.95899 16.6861 2.40138C16.7947 2.44662 16.8772 2.52695 16.9182 2.62758C17.0028 2.83528 16.8824 3.06575 16.6499 3.14132Z" fill="black"/>
        </svg>
        <span class="ml-5">Free flights</span>
      </div>
    </template>
    <template v-else>
      <div class="flex items-center">
        <img height="16" width="16" src="~@/assets/icons/deal.png"/>
        <span class="ml-5">Ultra Special Last Minute Deal</span>
      </div>
    </template>
  </span>
</template>

<script>
export default {
  name: 'Badge',
  props: {
    badgeColor: { type: String, default: 'bg-green'},
    typeBadge: { type: String, default: null}
  }
}
</script>

<style scoped>

</style>
