<template>
  <div>
    <ul class="list breadcrumbs pl-0 fs-12 fw-700 lh-24 mb-12 mt-0">
      <li class="dib"><a href=""><span class="gray-dark">Home</span></a></li>
      <slot></slot>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Breadcrumbs'
}
</script>

<style scoped lang="scss" >
.breadcrumbs li:first-child { padding-left: 0; }
.breadcrumbs li:after {
  content: ''; display: inline-block; width: 8px; height: 8px; margin-left: 4px; margin-right: 6px;
  background-image: url('../../assets/icons/icon-arrow-next.svg');
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}

.breadcrumbs li:last-child { padding-right: 0;}
.breadcrumbs li:last-child:after{ display:none;}
</style>
