<template>
  <label
    class="wrapper flex items-center mr-30 db relative pl-22 mb-6 hand fs-14"
  >
    <span class="black">{{ label }}</span>
    <input
      class="checkbox absolute hand opacity-0 w-0 h-0"
      type="radio"
      :name="name"
      :checked="isChecked"
      :value="value"
      @change="$emit('update:dataBindingOption', $event.target.value)"
    />
    <span class="checkmark absolute w-16 h-16 br-p-50 bg-white"></span>
  </label>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  props: {
    label: {
      type: String,
      default: "",
      required: true
    },
    name: {
      type: String,
      default: "",
      required: true
    },
    value: {
      type: String,
      default: null
    },
    isChecked: {
      type: Boolean,
      default: false
    }
  }
});
</script>

<style lang="scss" scoped>
.opacity-0 {
  opacity: 0;
}

.checkmark {
  top: 2px;
  left: 0;
  border: 1px solid rgba(0, 59, 119, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 59, 119, 0.05);
}

.wrapper {
  input:checked ~ {
    .checkmark {
      background-color: #fff;
      border: 1px solid #a4cbfa;
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.wrapper input:checked ~ .checkmark:after {
  display: block;
}

.wrapper .checkmark:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #a4cbfa;
}
</style>
