<template>
  <div class="flex items-center">
    <span class="w-20 h-20 br-p-50 bd-2 bd-white dib overflow-hidden mr-6"><img class="w-20 h-20 br-p-50" :src="getTravellerImg"/></span>
    <span v-if="travellerReview.name" class="dib fs-12 fw-700 mr-13">{{travellerReview.name}}</span>
    <span v-if="travellerReview.mark" class="dib"><span class="yellow fs-16 mr-6">&starf;</span><span class="fs-14">{{travellerReview.mark}}</span></span>
  </div>
</template>

<script>
export default {
  name: 'TravellerReview',
  props: {
    travellerReview: {type: Object, default: null}
  },
  computed: {
    getTravellerImg() {
      return this.travellerReview.image
    }
  }
}
</script>

<style scoped>

</style>
