<template>
  <div class="relative br-14 overflow-hidden">
    <picture class="h-400 db">
      <img class="img-cover" :src="getFeatureImg"/>
    </picture>
    <div class="absolute z-2 top-0 left-0 wp-100 hp-100 bg-linear-gradient hand" @click.prevent="goToDetails(getId)"></div>
    <div class="absolute z-3 top-0 left-0 wp-100 white pt-26 pl-16 pr-16">
      <h3 class="fs-28 lh-1 fw-900 ma-0 hand" @click.prevent="goToDetails(getId)">{{cardData.title}}</h3>
      <div class="mt-16 mb-16">
        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.84094 8.48304C9.12564 8.38457 9.27661 8.07395 9.17814 7.78925C9.07967 7.50455 8.76905 7.35358 8.48435 7.45205C8.19965 7.55052 8.04868 7.86114 8.14715 8.14584C8.24562 8.43054 8.55624 8.58151 8.84094 8.48304Z" fill="white"/>
          <path d="M8.64325 6.24277C8.74172 6.52747 8.59075 6.83809 8.30605 6.93656C8.02135 7.03503 7.71074 6.88407 7.61226 6.59937C7.51379 6.31467 7.66476 6.00405 7.94946 5.90558C8.23416 5.80711 8.54478 5.95808 8.64325 6.24277Z" fill="white"/>
          <path d="M7.77116 5.39009C8.05586 5.29162 8.20683 4.981 8.10836 4.6963C8.00989 4.4116 7.69927 4.26064 7.41457 4.35911C7.12987 4.45758 6.97891 4.7682 7.07738 5.05289C7.17585 5.33759 7.48646 5.48856 7.77116 5.39009Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.837 7.90935C14.0339 8.47874 13.732 9.09998 13.1626 9.29692L3.88373 12.5063C3.31433 12.7032 2.69309 12.4013 2.49615 11.8319L1.94131 10.2277L2.14718 9.9898C2.52731 9.55055 2.65062 8.94111 2.45735 8.38233C2.26409 7.82356 1.79059 7.42054 1.2203 7.31001L0.911437 7.25015L0.356593 5.64598C0.159652 5.07658 0.461586 4.45535 1.03098 4.2584L10.3098 1.04907C10.8792 0.852127 11.5005 1.15406 11.6974 1.72346L12.2522 3.32762L12.0464 3.56552C11.6662 4.00478 11.5429 4.61422 11.7362 5.173C11.9295 5.73177 12.403 6.13479 12.9732 6.24532L13.2821 6.30518L13.837 7.90935ZM10.7052 5.52959C10.4198 4.70454 10.5492 3.81191 11.0229 3.11076L10.6664 2.08005L7.57347 3.14983C7.67194 3.43453 7.52097 3.74515 7.23627 3.84362C6.95158 3.94209 6.64096 3.79112 6.54249 3.50642L1.38758 5.28939L1.74407 6.32009C2.54978 6.57871 3.20297 7.20069 3.48834 8.02574C3.7737 8.85079 3.64438 9.74342 3.17063 10.4446L3.52713 11.4753L8.68204 9.69231C8.58357 9.40762 8.73454 9.097 9.01924 8.99853C9.30394 8.90006 9.61456 9.05102 9.71303 9.33572L12.806 8.26594L12.4495 7.23523C11.6438 6.97662 10.9906 6.35464 10.7052 5.52959Z" fill="white"/>
        </svg>
        <span class="fs-16 ml-8">From <span class="fw-700">US$ {{ cardData.price }}</span></span>
      </div>
      <div v-if="cardData.flight" class="mb-5">
        <Badge typeBadge="flights"></Badge>
      </div>
      <div v-if="cardData.deal" class="mb-5">
        <Badge typeBadge="deals"></Badge>
      </div>
    </div>
    <div class="absolute z-3 bottom-0 left-0 wp-100 white pb-16 pl-16 pr-16 flex justify-between items-center">
      <TravellerReview :travellerReview="cardData.traveller_review"></TravellerReview>
      <div>
        <button class="btn-quare btn-white-alpha"><img src="~@/assets/icons/icon-map.svg" /></button>
        <button :class="[tripFavorite ? 'btn-white' : 'btn-white-alpha', 'btn-quare ml-15']" @click="tripFavoriteTick(getId)">
          <template v-if="!tripFavorite"><img src="~@/assets/icons/icon-favorite-white.svg" /></template>
          <template v-else><img src="~@/assets/icons/icon-favorite-red.svg" /></template>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Badge from './Badge'
import TravellerReview from './TravellerReview'
import {computed, ref} from 'vue'
import {useRouter} from 'vue-router'

export default {
  name: 'TripCard',
  components: {TravellerReview, Badge},
  props: {
    cardData: {type: Object, default: null}
  },
  setup(props) {
    const goToLink = computed(() => {
      return {name: 'trip-plan', params: {id: props.cardData.id}}
    })

    const getFeatureImg = computed(() => {
      return props.cardData.feature_img
    })

    const getId = computed(() => {
      return props.cardData.id
    })

    const router = useRouter()

    const queryData = ref({
      tcid: 54,
      key: 'd569b4674e1881f191c5b50b7a39ad12',
      type: 'json'
    })

    function goToDetails(id) {
      router.push({
        name: 'trip-plan',
        params: {
          id: id
        },
        query: queryData.value
      })
    }

    return {goToLink, getFeatureImg, getId, goToDetails}
  },
  data() {
    return {
      tripFavorite: false
    }
  },
  methods: {
    tripFavoriteTick(id) {
      console.log(id)
      return this.tripFavorite = !this.tripFavorite
    }
  }
}
</script>

<style scoped>

</style>
